<center><img src="http://i.imgur.com/sSaOozN.png" width="500"></center>

## Course: Computational Thinking for Governance Analytics

### Prof. José Manuel Magallanes, PhD 
* Visiting Professor of Computational Policy at Evans School of Public Policy and Governance, and eScience Institute Senior Data Science Fellow, University of Washington.
* Professor of Government and Political Methodology, Pontificia Universidad Católica del Perú. 

_____

# Session 2:  Data Preprocessing in Python

<a id='beginning'></a>

Preprocessing includes three stages:

1. [Collecting](#part1) 
2. [Cleaning](#part2) 
3. [Formatting](#part3)

____
<a id='part1'></a>

## Collecting

Collection is not a pre processing problem if you have data already nicely organized. When it is so, **pandas** will read the file without problem:

* Reading STATA file

In [3]:
import pandas as pd

stataFile='https://github.com/EvansDataScience/data/raw/master/lapopUSA2017_13.dta'
##
dataStata=pd.read_stata(stataFile,convert_categoricals=False)

* Reading EXCEL file

In [4]:
excelFile='https://github.com/EvansDataScience/data/raw/master/hdi2016.xlsx'
dataExcel=pd.read_excel(excelFile)

As you just have seen, a common file type can be easily read using pandas. Once you have them, you can ask many things, some could be:

* Number of rows and columns:

In [6]:
dataStata.shape

(1500, 119)

* See the first rows:

In [5]:
dataExcel.head()

,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,Category
0,Norway,0.949423,81.711,17.67187,12.746420,67614.35348,VERY HIGH HUMAN DEVELOPMENT
1,Australia,0.938680,82.537,20.43272,13.175100,42822.19627,VERY HIGH HUMAN DEVELOPMENT
2,Switzerland,0.939131,83.133,16.04041,13.370000,56363.95780,VERY HIGH HUMAN DEVELOPMENT
3,Germany,0.925669,81.092,17.09594,13.187626,44999.64714,VERY HIGH HUMAN DEVELOPMENT
4,Denmark,0.924649,80.412,19.18880,12.700170,44518.92402,VERY HIGH HUMAN DEVELOPMENT

The property __shape__ is an attribute of the data frame, so you do not need parentheses; you do not these ones to call a function, in this last case __head()__. You also have __tail()__:

In [7]:
dataStata[['q12','q12m','q12f']].tail()

      q12  q12m  q12f
1495  2.0   1.0   1.0
1496  0.0   NaN   NaN
1497  0.0   NaN   NaN
1498  0.0   NaN   NaN
1499  1.0   1.0   0.0

The tail is showing only the last elements of the selected columns.

* Self-collecting

Another way to collect data is to create an online form and then get the data into Python. For this situation, go to this [link](https://goo.gl/forms/HX3KkxcEtXgMzyDJ3) and answer the questions.

Then, I will see the answers:

In [8]:
link='https://docs.google.com/spreadsheets/d/e/2PACX-1vT9zoGqRmUztGnDgjD4zWTQlttDyO5uRTotZQNQM_aUMrwhfOTf_0mpASz3Cra65VYF6DeCVxCm77Mj/pub?gid=1005402639&single=true&output=csv'
namesOfCols=['timeStamp','name','sex','age','bornIn','workingStatus']

myData = pd.read_csv(link,header=0,names=namesOfCols) #header = 0 means header is the first line

# here it is:
myData.head(10)

,timeStamp,name,sex,age,bornIn,workingStatus
0,1/30/2019 9:35:58,Nat,Man,29.0,CA,Intern with salary
1,2/4/2019 8:52:09,Ian Langer,Man,27.0,NC,Intern with salary
2,2/4/2019 11:35:41,Jenny,Woman,28.0,NM,Employed with salary
3,2/5/2019 19:29:26,Bradocius the Wise,An ideal,111.0,WA,Intern with salary
4,2/9/2019 19:33:48,Jose Luis Gomez-Angulo,Man,26.0,AZ,Not working
5,2/9/2019 19:34:41,Jose Luis Gomez-Angulo,Man,26.0,AZ,Not working
6,2/9/2019 19:35:42,Jose Luis Gomez-Angulo,Man,26.0,AZ,Not working
7,2/11/2019 13:15:18,Ana,Woman,26.0,GE,Not working
8,2/11/2019 13:17:18,Ana,Woman,26.0,Ge,Not working
9,2/11/2019 16:24:11,Todd Albertson,Man,25.0,CA,Not working

The information collected was retrieved in a comma-separated values format. This is a very common format. Notice the settings of __read_csv__: I tell pandas that the first row has the names of the columns (header is in position 0); and then I rename the headers.

* Collecting data from APIs

Most of these data come in more complex formats, like XML or JSON format. Let's get the data about 
[Seattle Real Time Fire 911 Calls](https://dev.socrata.com/foundry/data.seattle.gov/grwu-wqtk). Let me follow the instructions from that website to get the data:

In [10]:
!pip install sodapy # pip install sodapy

Collecting sodapy
  Downloading https://files.pythonhosted.org/packages/11/02/5baf6e10a47018babcc43e3ed03a6f13712187f4ab1fbe263b479c77d117/sodapy-1.5.2-py2.py3-none-any.whl
Requirement already satisfied: future>=0.17.1 in /anaconda3/lib/python3.7/site-packages (from sodapy) (0.17.1)
Requirement already satisfied: requests>=2.20.0 in /anaconda3/lib/python3.7/site-packages (from sodapy) (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2018.11.29)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Installing collected packages: sodapy
Successfully installed sodapy-1.5.2

In [11]:
from sodapy import Socrata

client = Socrata("data.seattle.gov", None)
results = client.get("grwu-wqtk", limit=1000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,:@computed_region_2day_rhn5,:@computed_region_cyqu_gs94,:@computed_region_kuhn_3gp2,:@computed_region_q256_3sug,address,datetime,incident_number,latitude,longitude,report_location,type
0,NaN,NaN,29,19579,11528 28th Av Ne,2011-03-09T01:11:00.000,F110020765,47.7123,-122.297578,"{'type': 'Point', 'coordinates': [-122.297578,...",Medic Response
1,NaN,NaN,41,17919,3732 14th Av S,2017-12-10T03:10:00.000,F170128702,47.570516,-122.314759,"{'type': 'Point', 'coordinates': [-122.314759,...",Aid Response
2,NaN,NaN,44,18388,Beacon Av S / S Eddy St,2017-05-03T00:11:00.000,F170042740,47.545329,-122.30029,"{'type': 'Point', 'coordinates': [-122.30029, ...",MVI - Motor Vehicle Incident
3,NaN,NaN,22,18379,4th Av S / S Washington St,2017-04-11T06:41:00.000,F170035060,47.600875,-122.328963,"{'type': 'Point', 'coordinates': [-122.328963,...",Aid Response
4,NaN,NaN,34,18377,8830 Nesbit Av N,2012-02-07T18:31:00.000,F120011815,47.692638,-122.343471,"{'type': 'Point', 'coordinates': [-122.343471,...",Medic Response- 6 per Rule

[Go to page beginning](#beginning)

_____
<a id='part2'></a>

## Cleaning

The files opened above look clean because they may have been produce professionally for statistical work, or because the collecting tool was very restrictive. However, several data that you collect may not bring you the data as clean as the ones found in the previous codes. This commmon webpage has a table that may be needed:

In [12]:
wikiLink="https://en.wikipedia.org/wiki/List_of_freedom_indices"


import IPython
iframe = '<iframe src=' + wikiLink + ' width=700 height=350></iframe>'
IPython.display.HTML(iframe)

/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

Let's try to get the table using pandas:

In [13]:
import pandas as pd

#attrs - what html attributes i am looking for (class & wikitable sortable are html definitions)

wikiTables=pd.read_html(wikiLink,header=0,attrs={'class': 'wikitable sortable'})

I tried to get all the tables. I may have more than one:

In [14]:
# What do I have? / How many?
type(wikiTables), len(wikiTables)

#pandas gives a collecion of wikitables, can be more than 1, and it is shown as list with 1 wikitable element

(list, 1)

I need to recover the first table from the list (the only one).

In [15]:
DF=wikiTables[0]

#what is it?
type(DF)

pandas.core.frame.DataFrame

Great!...we have a data frame; then:

In [16]:
DF.head()

,Country,Freedom in the World 2018[10],2018 Index of Economic Freedom[11],2018 Press Freedom Index[3],2017 Democracy Index[13]
0,Abkhazia,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN
3,Algeria,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN

This data frame does not look like the one we see on the website. We need to improve the call:

In [17]:
# install 'beautifulsoup4'
DF=pd.read_html(wikiLink,header=0,flavor='bs4',attrs={'class': 'wikitable sortable'})[0]
DF.head()

#flavor parameter tells us that panda will not use its own algorythms to scrape text, but the algorythms of "beautifulsoup4" package. To install package manually, use !pip install bs4

#NaN is a good way of showing missing value

,Country,Freedom in the World 2018[10],2018 Index of Economic Freedom[11],2018 Press Freedom Index[3],2017 Democracy Index[13]
0,Abkhazia,partly free,NaN,NaN,NaN
1,Afghanistan,not free,mostly unfree,difficult situation,authoritarian regime
2,Albania,partly free,moderately free,noticeable problems,hybrid regime
3,Algeria,not free,repressed,difficult situation,authoritarian regime
4,Andorra,free,NaN,satisfactory situation,NaN

Combining BeautifulSoup (BS) and Pandas gave us the right result. But our work is not over.

Pay attention to the cleaning pandas+BS have done: the 'n/a' was interpreted as **NaN**; no country flags in the data; and the headers are in the right place. 

However, to prepare a final data set, we should pay attention to the headers names to avoid _blanks_, and erase the _footnote_ call.

We can have two strategies:
* Brute-force!

In [18]:
# if we had a small number of names to change, we can use brute-force strategy (writing the list of columns names):
DF.columns=['Country',
 'FreedomintheWorld',
 'IndexofEconomicFreedom',
 'PressFreedomIndex',
 'DemocracyIndex']
DF.head()

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,partly free,NaN,NaN,NaN
1,Afghanistan,not free,mostly unfree,difficult situation,authoritarian regime
2,Albania,partly free,moderately free,noticeable problems,hybrid regime
3,Algeria,not free,repressed,difficult situation,authoritarian regime
4,Andorra,free,NaN,satisfactory situation,NaN

* Using more computational thinking (algorithmic):

In [19]:
# if we had many columns, writing an algorith to rename the columns could be better:

# recalling the data:
DF=pd.read_html(wikiLink,header=0,flavor='bs4',attrs={'class': 'wikitable sortable'})[0]

I just recalled the data to do several steps:

1. Find blanks.
2. Find numbers.
3. Find brackets (opening and closing).

The previous requires a **regular expresssion**:

In [21]:
import re  # may need to be installed:

# find blanks: \\s+
# find numbers: \\d+ 
# find opening bracket : \\[
# find closing bracket: \\]

# You can combine using '|' (or):
pattern='\\s+|\\d+|\\[|\\]'
nothing=''

Now, let's see how this works for one case:

In [22]:
testString='Freedom in the World 2018[10]'
re.sub(pattern,nothing,testString) #re.sub - is a function of re package to substitute

'FreedomintheWorld'

Now, let's see how this works for ALL cases:

In [23]:
DF.columns

Index(['Country', 'Freedom in the World 2018[10]',
       '2018 Index of Economic Freedom[11]', '2018 Press Freedom Index[3]',
       '2017 Democracy Index[13]'],
      dtype='object')

In [24]:
#using comprehension

[re.sub(pattern,nothing,name) for name in DF.columns]

['Country',
 'FreedomintheWorld',
 'IndexofEconomicFreedom',
 'PressFreedomIndex',
 'DemocracyIndex']

We can verify we are matching well:

In [25]:
newNames=[re.sub(pattern,nothing,name) for name in DF.columns]

# checking:
list(zip(DF.columns,newNames))

[('Country', 'Country'),
 ('Freedom in the World 2018[10]', 'FreedomintheWorld'),
 ('2018 Index of Economic Freedom[11]', 'IndexofEconomicFreedom'),
 ('2018 Press Freedom Index[3]', 'PressFreedomIndex'),
 ('2017 Democracy Index[13]', 'DemocracyIndex')]

Let's turn that match into a dictionary:

In [26]:
{old:new for old,new in zip(DF.columns,newNames)}

{'Country': 'Country',
 'Freedom in the World 2018[10]': 'FreedomintheWorld',
 '2018 Index of Economic Freedom[11]': 'IndexofEconomicFreedom',
 '2018 Press Freedom Index[3]': 'PressFreedomIndex',
 '2017 Democracy Index[13]': 'DemocracyIndex'}

Once you have a dict like that one, you can use it to rename the columns with another function:

In [27]:
changes={old:new for old,new in zip(DF.columns,newNames)}
DF.rename(columns=changes,inplace=True) #inplace - do this thing and change it immediately in the dataframe

If you had a set of new names, and you do not want to change every column name, that is the correct way to do it.

Let's see the result:

In [28]:
DF.head()

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,partly free,NaN,NaN,NaN
1,Afghanistan,not free,mostly unfree,difficult situation,authoritarian regime
2,Albania,partly free,moderately free,noticeable problems,hybrid regime
3,Algeria,not free,repressed,difficult situation,authoritarian regime
4,Andorra,free,NaN,satisfactory situation,NaN

A next step will be verifying if the answers are well coded:

In [29]:
DF.iloc[:,1::].describe() #no need to check Country column as they are unique

,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
count,206,180,189,167
unique,3,5,5,4
top,free,mostly unfree,noticeable problems,flawed democracy
freq,89,63,63,57

What were you looking for? 
Sometimes a category may be wrongly written in a cell, for instance, if you had 'Free' and 'free' or 'free ' to represent the same in one column, you have a mistake. Let's see if there is one here:

In [30]:
DF.FreedomintheWorld.value_counts()

free           89
partly free    62
not free       55
Name: FreedomintheWorld, dtype: int64

 What we see is that this variable has its own correct set of answers. 
 
 We can try that approach for each variable, but we can check the whole group of categorical values like thisL

In [31]:
# DF.iloc[:,1::] all columns but the first one
# apply(set)  apply the function 'set()'  per column # give unique values
# tolist() convert to a list 

DF.iloc[:,1::].apply(set).tolist()

[{'free', nan, 'not free', 'partly free'},
 {'free', 'moderately free', 'mostly free', 'mostly unfree', nan, 'repressed'},
 {'difficult situation',
  'good situation',
  nan,
  'noticeable problems',
  'satisfactory situation',
  'very serious situation'},
 {'authoritarian regime',
  'flawed democracy',
  'full democracy',
  'hybrid regime',
  nan}]

[Go to page beginning](#beginning)
____
<a id='part3'></a>
## Formatting

The data seems _clean_, but we need now to be sure the information is in the right format. This varies according to the project; so, let me show you some steps during of the formatting stage.

1. Verify the data types:

In [32]:
DF.dtypes

Country                   object
FreedomintheWorld         object
IndexofEconomicFreedom    object
PressFreedomIndex         object
DemocracyIndex            object
dtype: object

All but the first variable are categories, not text (_object_). To convert them into categories you can do this:

In [33]:
headerNames=DF.columns
DF[headerNames[1:]]=DF[headerNames[1:]].astype('category')

When a variable is of categorical type, you can use particular functions for them:

In [34]:
DF.FreedomintheWorld.cat.categories #doesnt show missing values, bcz its already a category

Index(['free', 'not free', 'partly free'], dtype='object')

In [35]:
DF.IndexofEconomicFreedom.cat.categories

Index(['free', 'moderately free', 'mostly free', 'mostly unfree', 'repressed'], dtype='object')

In [37]:
DF.PressFreedomIndex.cat.categories

Index(['difficult situation', 'good situation', 'noticeable problems',
       'satisfactory situation', 'very serious situation'],
      dtype='object')

In [36]:
DF.DemocracyIndex.cat.categories

Index(['authoritarian regime', 'flawed democracy', 'full democracy',
       'hybrid regime'],
      dtype='object')

2. If ordinal, make the adjustment.

The order in which the categories differentiate a plain categorical from an ordinal categorical. They should be categorical but the order does not reflect the order it should. 

We can turn it into an ordinal doing the following:

a. Find a good numeric sequence for the ordinal values:

In [38]:
# notice I am using the numbers in the same order as the list of categorical values:
oldFree=list(DF.FreedomintheWorld.cat.categories)

# '5 very good' / '4 good' / '3 middle' / '2 bad' / '1 very bad'

#mapping

newFree=[5,1,3]
recodeFree={old:new for old,new in zip (oldFree,newFree)}

oldEco=list(DF.IndexofEconomicFreedom.cat.categories)
newEco=[5,3,4,2,1]
recodeEco={old:new for old,new in zip (oldEco,newEco)}

oldPress=list(DF.PressFreedomIndex.cat.categories)
newPress=[2,5,3,4,1]
recodePress={old:new for old,new in zip (oldPress,newPress)}

oldDemo=list(DF.DemocracyIndex.cat.categories)
newDemo=[1,4,5,2]
recodeDemo={old:new for old,new in zip (oldDemo,newDemo)}

b. Rename the still plain categorical:

In [39]:
DF.FreedomintheWorld.cat.rename_categories(recodeFree,inplace=True)

DF.IndexofEconomicFreedom.cat.rename_categories(recodeEco,inplace=True)

DF.PressFreedomIndex.cat.rename_categories(recodePress,inplace=True)

DF.DemocracyIndex.cat.rename_categories(recodeDemo,inplace=True)

# veamos:
DF.head(10)

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,3,NaN,NaN,NaN
1,Afghanistan,1,2.0,2.0,1.0
2,Albania,3,3.0,3.0,2.0
3,Algeria,1,1.0,2.0,1.0
4,Andorra,5,NaN,4.0,NaN
5,Angola,1,1.0,2.0,1.0
6,Antigua and Barbuda,5,NaN,4.0,NaN
7,Argentina,5,2.0,3.0,4.0
8,Armenia,3,3.0,3.0,2.0
9,Australia,5,5.0,4.0,5.0

In [41]:
DF.dtypes

Country                     object
FreedomintheWorld         category
IndexofEconomicFreedom    category
PressFreedomIndex         category
DemocracyIndex            category
dtype: object

c. Now turn the renamed columns into a numeric values:

In [42]:
DF[headerNames[1:]]=DF[headerNames[1:]].apply(pd.to_numeric)

Let me verify:

In [43]:
DF.head()

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,3.0,NaN,NaN,NaN
1,Afghanistan,1.0,2.0,2.0,1.0
2,Albania,3.0,3.0,3.0,2.0
3,Algeria,1.0,1.0,2.0,1.0
4,Andorra,5.0,NaN,4.0,NaN

3. Try solving missing data presence

The data has some missing data:

In [44]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 5 columns):
Country                   207 non-null object
FreedomintheWorld         206 non-null float64
IndexofEconomicFreedom    180 non-null float64
PressFreedomIndex         189 non-null float64
DemocracyIndex            167 non-null float64
dtypes: float64(4), object(1)
memory usage: 8.2+ KB

Now comes the thinking: How to replace the missing values?

Python can easily find and replace every missing value; but our strategy will be different:

* _Freedom in the World_ has the least missing values, we will use this variable to see how the others behave.

* Since the variables are ordinals (even though they are numbers now) a good candidate to impute a missing is the median NOT the mean (you can not compute the mean of an ordinal).

Let's see:

In [45]:
#median per group: 
DF.groupby('FreedomintheWorld')[headerNames[2:]].median()

                   IndexofEconomicFreedom  PressFreedomIndex  DemocracyIndex
FreedomintheWorld
1.0                                   2.0                2.0             1.0
3.0                                   2.0                3.0             2.0
5.0                                   3.0                4.0             4.0

We need to replace those medians whenever a missing value is found:

In [46]:
for col in headerNames[2:]:
    # in each column, get median by FIW group, and use it to replace the missing values.
    DF[col].fillna(DF.groupby(["FreedomintheWorld"])[col].transform("median"), inplace=True)

In [47]:
DF.head(20)

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,3.0,2.0,3.0,2.0
1,Afghanistan,1.0,2.0,2.0,1.0
2,Albania,3.0,3.0,3.0,2.0
3,Algeria,1.0,1.0,2.0,1.0
4,Andorra,5.0,3.0,4.0,4.0
5,Angola,1.0,1.0,2.0,1.0
6,Antigua and Barbuda,5.0,3.0,4.0,4.0
7,Argentina,5.0,2.0,3.0,4.0
8,Armenia,3.0,3.0,3.0,2.0
9,Australia,5.0,5.0,4.0,5.0
10,Austria,5.0,4.0,5.0,5.0
11,Azerbaijan,1.0,3.0,1.0,1.0
12,Bahamas,5.0,3.0,4.0,4.0
13,Bahrain,1.0,3.0,1.0,1.0
14,Bangladesh,3.0,2.0,2.0,2.0
15,Barbados,5.0,2.0,4.0,4.0
16,Belarus,1.0,2.0,2.0,1.0
17,Belgium,5.0,3.0,5.0,4.0
18,Belize,5.0,2.0,4.0,4.0
19,Benin,5.0,2.0,3.0,2.0

We can send this to R, in a simple CSV format:

In [48]:
DF.to_csv("indexes.csv",index=None)

______

## More examples

### Case: Democracy Index

Let me clean a similar data from wikipedia, about democracy index:

In [70]:
import pandas as pd #location:
demoLink = "https://en.wikipedia.org/wiki/Democracy_Index" 

#collection
demodex=pd.read_html(demoLink,header=0,flavor='bs4',attrs={'class': 'wikitable sortable'})[0]

1. Looking for messiness:

In [71]:
# what's on top?
# names? weird symbols? more links?
demodex.head(10)

,Rank,Country,Score,Electoral processand pluralism,Functioning ofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Category
0,1,Norway,9.87,10.00,9.64,10.00,10.00,9.71,Full democracy
1,2,Iceland,9.58,10.00,9.29,8.89,10.00,9.71,Full democracy
2,3,Sweden,9.39,9.58,9.64,8.33,10.00,9.41,Full democracy
3,4,New Zealand,9.26,10.00,9.29,8.89,8.13,10.00,Full democracy
4,5,Denmark,9.22,10.00,9.29,8.33,9.38,9.12,Full democracy
5,=6,Ireland,9.15,9.58,7.86,8.33,10.00,10.00,Full democracy
6,=6,Canada,9.15,9.58,9.64,7.78,8.75,10.00,Full democracy
7,8,Finland,9.14,10.00,8.93,8.33,8.75,9.71,Full democracy
8,9,Australia,9.09,10.00,8.93,7.78,8.75,10.00,Full democracy
9,10,Switzerland,9.03,9.58,9.29,7.78,9.38,9.12,Full democracy

In [73]:
# what's at the bottom?
# note? credits? extra info?

demodex.tail(10)

,Rank,Country,Score,Electoral processand pluralism,Functioning ofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Category
158,=159,Saudi Arabia,1.93,0.00,2.86,2.22,3.13,1.47,Authoritarian
159,=159,Tajikistan,1.93,0.08,0.79,1.67,6.25,0.88,Authoritarian
160,161,Equatorial Guinea,1.92,0.00,0.43,3.33,4.38,1.47,Authoritarian
161,162,Turkmenistan,1.72,0.00,0.79,2.22,5.00,0.59,Authoritarian
162,163,Chad,1.61,0.00,0.00,1.67,3.75,2.65,Authoritarian
163,164,Central African Republic,1.52,2.25,0.00,1.11,1.88,2.35,Authoritarian
164,165,Democratic Republic of the Congo,1.49,0.50,0.71,2.22,3.13,0.88,Authoritarian
165,166,Syria,1.43,0.00,0.00,2.78,4.38,0.00,Authoritarian
166,167,North Korea,1.08,0.00,2.50,1.67,1.25,0.00,Authoritarian
167,Rank,Country,Score,Electoral processand pluralism,Functioning ofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Category

First, we see a column that have some messiness (symbol "=" in rank), but which can be deleted as their information is not relevant. Let me get rid of the _Score_, as it is just the mean of the other ones. The last row is the repetition of the headers, so that one should go, too:

In [75]:
#bye row 167, and two columns
demodexClean=demodex.drop(index=167,columns=['Rank','Score'])

In [76]:
demodexClean

,Country,Electoral processand pluralism,Functioning ofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Category
0,Norway,10.00,9.64,10.00,10.00,9.71,Full democracy
1,Iceland,10.00,9.29,8.89,10.00,9.71,Full democracy
2,Sweden,9.58,9.64,8.33,10.00,9.41,Full democracy
3,New Zealand,10.00,9.29,8.89,8.13,10.00,Full democracy
4,Denmark,10.00,9.29,8.33,9.38,9.12,Full democracy
5,Ireland,9.58,7.86,8.33,10.00,10.00,Full democracy
6,Canada,9.58,9.64,7.78,8.75,10.00,Full democracy
7,Finland,10.00,8.93,8.33,8.75,9.71,Full democracy
8,Australia,10.00,8.93,7.78,8.75,10.00,Full democracy
9,Switzerland,9.58,9.29,7.78,9.38,9.12,Full democracy
10,Netherlands,9.58,9.29,8.33,8.13,9.12,Full democracy
11,Luxembourg,10.00,8.93,6.67,8.75,9.71,Full democracy
12,Germany,9.58,8.57,8.33,7.50,9.41,Full democracy
13,United Kingdom,9.58,7.50,8.33,8.13,9.12,Full democracy
14,Uruguay,10.00,8.57,6.11,7.50,9.71,Full democracy
15,Austria,9.58,7.86,8.33,6.88,8.82,Full democracy
16,Mauritius,9.17,8.21,5.56,8.75,9.41,Full democracy
17,Malta,9.17,8.21,6.11,8.75,8.82,Full democracy
18,Spain,9.17,7.14,7.78,7.50,8.82,Full democracy
19,Costa Rica,9.58,7.50,6.67,7.50,9.12,Full democracy
20,South Korea,9.17,7.86,7.22,7.50,8.24,Flawed democracy[a]
21,Japan,8.75,8.21,6.67,7.50,8.82,Flawed democracy
22,Chile,9.58,8.57,4.44,8.13,9.12,Flawed democracy
23,Estonia,9.58,8.21,6.67,6.88,8.53,Flawed democracy
24,United States,9.17,7.14,7.78,7.50,8.24,Flawed democracy
25,Cape Verde,9.17,7.86,6.67,6.88,8.82,Flawed democracy
26,Portugal,9.58,7.50,6.11,6.88,9.12,Flawed democracy
27,Botswana,9.17,7.14,6.11,7.50,9.12,Flawed democracy
28,France,9.58,7.50,7.78,5.63,8.53,Flawed democracy
29,Israel,9.17,7.50,8.89,7.50,5.88,Flawed democracy
...,...,...,...,...,...,...,...
137,Togo,3.17,0.79,3.33,5.00,3.24,Authoritarian
138,Vietnam,0.00,3.21,3.89,5.63,2.65,Authoritarian
139,Oman,0.00,3.93,2.78,4.38,4.12,Authoritarian
140,Swaziland,0.92,2.86,2.22,5.63,3.53,Authoritarian
141,Cuba,1.08,3.57,3.33,4.38,2.65,Authoritarian
142,Afghanistan,2.92,1.14,4.44,2.50,3.82,Authoritarian
143,Kazakhstan,0.50,2.14,4.44,4.38,3.24,Authoritarian
144,Russia,2.17,1.79,5.00,2.50,3.24,Authoritarian
145,Djibouti,0.42,1.79,3.89,5.63,2.65,Authoritarian
146,United Arab Emirates,0.00,3.93,2.22,5.00,2.65,Authoritarian
147,Bahrain,0.83,3.21,2.78,4.38,2.35,Authoritarian
148,Azerbaijan,0.50,2.14,3.33,3.75,3.53,Authoritarian
149,Iran,0.00,3.21,4.44,3.13,1.47,Authoritarian
150,Eritrea,0.00,2.14,1.67,6.88,1.18,Authoritarian
151,Laos,0.83,2.86,1.67,5.00,1.47,Authoritarian
152,Burundi,0.00,0.43,3.89,5.00,2.35,Authoritarian
153,Libya,1.00,0.36,1.67,5.00,2.94,Authoritarian
154,Sudan,0.00,1.79,2.78,5.00,1.18,Authoritarian
155,Uzbekistan,0.08,1.86,2.22,5.00,0.88,Authoritarian
156,Guinea-Bissau,1.67,0.00,2.78,3.13,2.35,Authoritarian
157,Yemen,0.00,0.00,3.89,5.00,0.88,Authoritarian
158,Saudi Arabia,0.00,2.86,2.22,3.13,1.47,Authoritarian
159,Tajikistan,0.08,0.79,1.67,6.25,0.88,Authoritarian
160,Equatorial Guinea,0.00,0.43,3.33,4.38,1.47,Authoritarian
161,Turkmenistan,0.00,0.79,2.22,5.00,0.59,Authoritarian
162,Chad,0.00,0.00,1.67,3.75,2.65,Authoritarian
163,Central African Republic,2.25,0.00,1.11,1.88,2.35,Authoritarian
164,Democratic Republic of the Congo,0.50,0.71,2.22,3.13,0.88,Authoritarian
165,Syria,0.00,0.00,2.78,4.38,0.00,Authoritarian
166,North Korea,0.00,2.50,1.67,1.25,0.00,Authoritarian

As there are few names, we can change to smaller sizes:

In [77]:
newNames=['plularism','effectiveness','participation','culture','liberties']

# names from the second and before the last one '[1:-1]':
newMapper={old:new for old,new in zip(demodexClean.columns[1:-1],newNames)}

demodexClean.rename(columns=newMapper,inplace=True)

In [78]:
# this is what we have so far:
demodexClean.head()

,Country,plularism,effectiveness,participation,culture,liberties,Category
0,Norway,10.00,9.64,10.00,10.00,9.71,Full democracy
1,Iceland,10.00,9.29,8.89,10.00,9.71,Full democracy
2,Sweden,9.58,9.64,8.33,10.00,9.41,Full democracy
3,New Zealand,10.00,9.29,8.89,8.13,10.00,Full democracy
4,Denmark,10.00,9.29,8.33,9.38,9.12,Full democracy

It looks good so far. Let's go to formatting.

2. Giving the rigth format:

In [79]:
# checking data types:
demodexClean.dtypes

Country          object
plularism        object
effectiveness    object
participation    object
culture          object
liberties        object
Category         object
dtype: object

Above, we realized the need to make some indices into numeric:

In [80]:
demodexClean[newNames]=demodexClean[newNames].apply(pd.to_numeric)

The last one is a categorical variable:

In [81]:
demodexClean.Category.value_counts()

Flawed democracy       54
Authoritarian          53
Hybrid regime          39
Full democracy         20
Flawed democracy[a]     1
Name: Category, dtype: int64

When you have text, you could get the unique values of a column like this:

In [82]:
pd.unique(demodexClean.Category).tolist()

['Full democracy',
 'Flawed democracy[a]',
 'Flawed democracy',
 'Hybrid regime',
 'Authoritarian']

Then, you can prepare the map to recode the values:

In [83]:
oldValues=pd.unique(demodexClean.Category).tolist()
newValues=[4,3,3,2,1]
mapNewOld={old:new for old,new in zip(oldValues,newValues)}
mapNewOld

{'Full democracy': 4,
 'Flawed democracy[a]': 3,
 'Flawed democracy': 3,
 'Hybrid regime': 2,
 'Authoritarian': 1}

You can do it in this way:

In [84]:
demodexClean.Category.replace(mapNewOld,inplace=True)

In [ ]:
# or this one:
# demodexClean.Category=demodexClean.Category.replace(mapNewOld)

You can save it as a category, but that will be lost if sent to R:

In [85]:
demodexClean.Category=demodexClean.Category.astype('category')

In [86]:
demodexClean['Category'].cat.categories

Int64Index([1, 2, 3, 4], dtype='int64')

In [87]:
# checking missing values

demodexClean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 0 to 166
Data columns (total 7 columns):
Country          167 non-null object
plularism        167 non-null float64
effectiveness    167 non-null float64
participation    167 non-null float64
culture          167 non-null float64
liberties        167 non-null float64
Category         167 non-null category
dtypes: category(1), float64(5), object(1)
memory usage: 9.5+ KB

This data is now ready for R.

In [88]:
demodexClean.to_csv("democracyIndex.csv",index=None)

### The case of Medicare:

Here I will use data from [Medicare Beneficiary Enrollment and Demographics](https://dev.socrata.com/foundry/data.wa.gov/2cup-2fnu)

In [113]:
import requests

# This time I am talking to the API from DATA.WA.GOV
url = "https://data.wa.gov/resource/2cup-2fnu.json?year=2014"
response = requests.get(url)
if response.status_code == 200:
    medicare = response.json()

In [114]:
# turning json into DF:
medicare2014 = pd.DataFrame(medicare)

In [115]:
medicare2014.head()

,average_age,average_hcc_score,beneficiaries_with_part_a_and_part_b,county,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,percent_african_american,percent_eligible_for_medicaid,percent_female,percent_hispanic,percent_male,percent_non_hispanic_white,percent_other_unknown,state_and_county_fips_code,to_sort_by_county_and_year,to_sort_by_year_and_county,year
0,71.0,0.90,1098715,STATE TOTAL,739717,358998,32.7,2.6,19.1,53.2,3.4,46.9,86.3,7.7,.,0.2014,2014,2014
1,73.0,0.86,1557,ADAMS,1333,224,14.4,NaN,15.6,51.2,NaN,48.8,NaN,NaN,53001,530012014,201453001,2014
2,71.0,0.93,5426,ASOTIN,4515,911,16.8,NaN,18.5,51.8,NaN,48.2,NaN,NaN,53003,530032014,201453003,2014
3,71.0,0.92,28303,BENTON,24054,4249,15.0,0.8,15.5,53.8,5.1,46.2,90.0,4.1,53005,530052014,201453005,2014
4,72.0,0.86,11040,CHELAN,8884,2156,19.5,0.2,20.2,51.3,5.4,48.7,91.7,2.7,53007,530072014,201453007,2014

In [92]:
medicare2014.tail()

,average_age,average_hcc_score,beneficiaries_with_part_a_and_part_b,county,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,percent_african_american,percent_eligible_for_medicaid,percent_female,percent_hispanic,percent_male,percent_non_hispanic_white,percent_other_unknown,state_and_county_fips_code,to_sort_by_county_and_year,to_sort_by_year_and_county,year
35,72.0,0.83,1249,WAHKIAKUM,935,314,25.1,NaN,13.4,48.0,NaN,52.0,NaN,NaN,53069,530692014,201453069,2014
36,73.0,0.95,11149,WALLA WALLA,9724,1425,12.8,0.6,17.6,55.2,5.7,44.9,91.1,2.7,53071,530712014,201453071,2014
37,71.0,0.89,36244,WHATCOM,22704,13540,37.4,0.9,21.0,52.3,2.7,47.7,89.3,7.1,53073,530732014,201453073,2014
38,73.0,0.86,4961,WHITMAN,4770,191,3.9,0.5,13.4,53.9,0.9,46.1,95.0,3.7,53075,530752014,201453075,2014
39,71.0,0.94,37337,YAKIMA,29424,7913,21.2,1.0,25.8,53.5,15.5,46.5,78.2,5.4,53077,530772014,201453077,2014

The first row is the total, it has to go:

In [94]:
#this one?
medicare2014.drop(index=0).head()

,average_age,average_hcc_score,beneficiaries_with_part_a_and_part_b,county,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,percent_african_american,percent_eligible_for_medicaid,percent_female,percent_hispanic,percent_male,percent_non_hispanic_white,percent_other_unknown,state_and_county_fips_code,to_sort_by_county_and_year,to_sort_by_year_and_county,year
1,73.0,0.86,1557,ADAMS,1333,224,14.4,NaN,15.6,51.2,NaN,48.8,NaN,NaN,53001,530012014,201453001,2014
2,71.0,0.93,5426,ASOTIN,4515,911,16.8,NaN,18.5,51.8,NaN,48.2,NaN,NaN,53003,530032014,201453003,2014
3,71.0,0.92,28303,BENTON,24054,4249,15.0,0.8,15.5,53.8,5.1,46.2,90.0,4.1,53005,530052014,201453005,2014
4,72.0,0.86,11040,CHELAN,8884,2156,19.5,0.2,20.2,51.3,5.4,48.7,91.7,2.7,53007,530072014,201453007,2014
5,73.0,0.81,22429,CLALLAM,20336,2093,9.3,0.3,12.5,52.6,1.3,47.4,93.3,5.1,53009,530092014,201453009,2014

In [95]:
#or this one?
medicare2014.drop(index=0).reset_index().head()

,index,average_age,average_hcc_score,beneficiaries_with_part_a_and_part_b,county,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,percent_african_american,percent_eligible_for_medicaid,percent_female,percent_hispanic,percent_male,percent_non_hispanic_white,percent_other_unknown,state_and_county_fips_code,to_sort_by_county_and_year,to_sort_by_year_and_county,year
0,1,73.0,0.86,1557,ADAMS,1333,224,14.4,NaN,15.6,51.2,NaN,48.8,NaN,NaN,53001,530012014,201453001,2014
1,2,71.0,0.93,5426,ASOTIN,4515,911,16.8,NaN,18.5,51.8,NaN,48.2,NaN,NaN,53003,530032014,201453003,2014
2,3,71.0,0.92,28303,BENTON,24054,4249,15.0,0.8,15.5,53.8,5.1,46.2,90.0,4.1,53005,530052014,201453005,2014
3,4,72.0,0.86,11040,CHELAN,8884,2156,19.5,0.2,20.2,51.3,5.4,48.7,91.7,2.7,53007,530072014,201453007,2014
4,5,73.0,0.81,22429,CLALLAM,20336,2093,9.3,0.3,12.5,52.6,1.3,47.4,93.3,5.1,53009,530092014,201453009,2014

In [96]:
#or this one?
medicare2014.drop(index=0).reset_index(drop=True).head()

,average_age,average_hcc_score,beneficiaries_with_part_a_and_part_b,county,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,percent_african_american,percent_eligible_for_medicaid,percent_female,percent_hispanic,percent_male,percent_non_hispanic_white,percent_other_unknown,state_and_county_fips_code,to_sort_by_county_and_year,to_sort_by_year_and_county,year
0,73.0,0.86,1557,ADAMS,1333,224,14.4,NaN,15.6,51.2,NaN,48.8,NaN,NaN,53001,530012014,201453001,2014
1,71.0,0.93,5426,ASOTIN,4515,911,16.8,NaN,18.5,51.8,NaN,48.2,NaN,NaN,53003,530032014,201453003,2014
2,71.0,0.92,28303,BENTON,24054,4249,15.0,0.8,15.5,53.8,5.1,46.2,90.0,4.1,53005,530052014,201453005,2014
3,72.0,0.86,11040,CHELAN,8884,2156,19.5,0.2,20.2,51.3,5.4,48.7,91.7,2.7,53007,530072014,201453007,2014
4,73.0,0.81,22429,CLALLAM,20336,2093,9.3,0.3,12.5,52.6,1.3,47.4,93.3,5.1,53009,530092014,201453009,2014

When we use inplace, we should not concatenate:

In [97]:
medicare2014.drop(index=0,inplace=True)
medicare2014.reset_index(drop=True,inplace=True)

The result so far:

In [98]:
medicare2014.head()

,average_age,average_hcc_score,beneficiaries_with_part_a_and_part_b,county,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,percent_african_american,percent_eligible_for_medicaid,percent_female,percent_hispanic,percent_male,percent_non_hispanic_white,percent_other_unknown,state_and_county_fips_code,to_sort_by_county_and_year,to_sort_by_year_and_county,year
0,73.0,0.86,1557,ADAMS,1333,224,14.4,NaN,15.6,51.2,NaN,48.8,NaN,NaN,53001,530012014,201453001,2014
1,71.0,0.93,5426,ASOTIN,4515,911,16.8,NaN,18.5,51.8,NaN,48.2,NaN,NaN,53003,530032014,201453003,2014
2,71.0,0.92,28303,BENTON,24054,4249,15.0,0.8,15.5,53.8,5.1,46.2,90.0,4.1,53005,530052014,201453005,2014
3,72.0,0.86,11040,CHELAN,8884,2156,19.5,0.2,20.2,51.3,5.4,48.7,91.7,2.7,53007,530072014,201453007,2014
4,73.0,0.81,22429,CLALLAM,20336,2093,9.3,0.3,12.5,52.6,1.3,47.4,93.3,5.1,53009,530092014,201453009,2014

In [99]:
# what we have
medicare2014.dtypes

average_age                             object
average_hcc_score                       object
beneficiaries_with_part_a_and_part_b    object
county                                  object
ffs_beneficiaries                       object
ma_beneficiaries                        object
ma_participation_rate                   object
percent_african_american                object
percent_eligible_for_medicaid           object
percent_female                          object
percent_hispanic                        object
percent_male                            object
percent_non_hispanic_white              object
percent_other_unknown                   object
state_and_county_fips_code              object
to_sort_by_county_and_year              object
to_sort_by_year_and_county              object
year                                    object
dtype: object

Notice that the three variables before the last one, and county should be kept as objects, while the other should be numeric:

In [100]:
# get original order:
original=medicare2014.columns.tolist()
original

['average_age',
 'average_hcc_score',
 'beneficiaries_with_part_a_and_part_b',
 'county',
 'ffs_beneficiaries',
 'ma_beneficiaries',
 'ma_participation_rate',
 'percent_african_american',
 'percent_eligible_for_medicaid',
 'percent_female',
 'percent_hispanic',
 'percent_male',
 'percent_non_hispanic_white',
 'percent_other_unknown',
 'state_and_county_fips_code',
 'to_sort_by_county_and_year',
 'to_sort_by_year_and_county',
 'year']

In [101]:
# new order:  (no need for * if one element)
newOrder=[original[3],*original[14:], *original[0:3],*original[4:14],] # using '*'
newOrder

['county',
 'state_and_county_fips_code',
 'to_sort_by_county_and_year',
 'to_sort_by_year_and_county',
 'year',
 'average_age',
 'average_hcc_score',
 'beneficiaries_with_part_a_and_part_b',
 'ffs_beneficiaries',
 'ma_beneficiaries',
 'ma_participation_rate',
 'percent_african_american',
 'percent_eligible_for_medicaid',
 'percent_female',
 'percent_hispanic',
 'percent_male',
 'percent_non_hispanic_white',
 'percent_other_unknown']

In [102]:
# there are differenet data types, let me move columns:

medicare2014=medicare2014[newOrder]
medicare2014.head()

,county,state_and_county_fips_code,to_sort_by_county_and_year,to_sort_by_year_and_county,year,average_age,average_hcc_score,beneficiaries_with_part_a_and_part_b,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,percent_african_american,percent_eligible_for_medicaid,percent_female,percent_hispanic,percent_male,percent_non_hispanic_white,percent_other_unknown
0,ADAMS,53001,530012014,201453001,2014,73.0,0.86,1557,1333,224,14.4,NaN,15.6,51.2,NaN,48.8,NaN,NaN
1,ASOTIN,53003,530032014,201453003,2014,71.0,0.93,5426,4515,911,16.8,NaN,18.5,51.8,NaN,48.2,NaN,NaN
2,BENTON,53005,530052014,201453005,2014,71.0,0.92,28303,24054,4249,15.0,0.8,15.5,53.8,5.1,46.2,90.0,4.1
3,CHELAN,53007,530072014,201453007,2014,72.0,0.86,11040,8884,2156,19.5,0.2,20.2,51.3,5.4,48.7,91.7,2.7
4,CLALLAM,53009,530092014,201453009,2014,73.0,0.81,22429,20336,2093,9.3,0.3,12.5,52.6,1.3,47.4,93.3,5.1

2. Formatting

We can give the right format now:

In [103]:
headerNames=medicare2014.columns
medicare2014[headerNames[4::]]=medicare2014[headerNames[4::]].apply(pd.to_numeric)

In [104]:
#check data types:
medicare2014.dtypes

county                                   object
state_and_county_fips_code               object
to_sort_by_county_and_year               object
to_sort_by_year_and_county               object
year                                      int64
average_age                             float64
average_hcc_score                       float64
beneficiaries_with_part_a_and_part_b      int64
ffs_beneficiaries                         int64
ma_beneficiaries                          int64
ma_participation_rate                   float64
percent_african_american                float64
percent_eligible_for_medicaid           float64
percent_female                          float64
percent_hispanic                        float64
percent_male                            float64
percent_non_hispanic_white              float64
percent_other_unknown                   float64
dtype: object

We can explore the variables:

In [105]:
medicare2014.describe(include='all') # to include categorical

,county,state_and_county_fips_code,to_sort_by_county_and_year,to_sort_by_year_and_county,year,average_age,average_hcc_score,beneficiaries_with_part_a_and_part_b,ffs_beneficiaries,ma_beneficiaries,ma_participation_rate,percent_african_american,percent_eligible_for_medicaid,percent_female,percent_hispanic,percent_male,percent_non_hispanic_white,percent_other_unknown
count,39,39,39,39,39.0,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,30.00000,39.000000,39.000000,30.000000,39.000000,30.000000,30.000000
unique,39,39,39,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,LEWIS,53015,530772014,201453043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,2014.0,71.384615,0.852051,28172.179487,18967.102564,9205.076923,19.910256,1.11000,17.258974,51.820513,3.813333,48.187179,89.923333,5.176667
std,NaN,NaN,NaN,NaN,0.0,1.091001,0.074699,47845.550778,29514.437571,18921.743351,13.816348,1.40721,4.126597,1.842507,4.360618,1.842935,5.657932,2.599958
min,NaN,NaN,NaN,NaN,2014.0,69.000000,0.670000,617.000000,600.000000,17.000000,2.800000,0.20000,8.400000,47.400000,0.800000,44.900000,73.900000,2.400000
25%,NaN,NaN,NaN,NaN,2014.0,71.000000,0.790000,4926.500000,4529.500000,379.500000,8.850000,0.40000,14.800000,50.950000,1.525000,46.750000,87.975000,3.600000
50%,NaN,NaN,NaN,NaN,2014.0,71.000000,0.860000,11040.000000,9335.000000,1439.000000,16.300000,0.55000,16.800000,51.800000,2.550000,48.200000,91.800000,4.300000
75%,NaN,NaN,NaN,NaN,2014.0,72.000000,0.925000,26892.000000,21520.000000,8036.000000,31.000000,1.15000,20.150000,53.250000,3.350000,49.050000,94.075000,6.525000
max,NaN,NaN,NaN,NaN,2014.0,73.000000,0.990000,264388.000000,164731.000000,99657.000000,56.100000,6.00000,26.000000,55.200000,19.400000,52.600000,95.500000,13.600000

In [106]:
medicare2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 18 columns):
county                                  39 non-null object
state_and_county_fips_code              39 non-null object
to_sort_by_county_and_year              39 non-null object
to_sort_by_year_and_county              39 non-null object
year                                    39 non-null int64
average_age                             39 non-null float64
average_hcc_score                       39 non-null float64
beneficiaries_with_part_a_and_part_b    39 non-null int64
ffs_beneficiaries                       39 non-null int64
ma_beneficiaries                        39 non-null int64
ma_participation_rate                   39 non-null float64
percent_african_american                30 non-null float64
percent_eligible_for_medicaid           39 non-null float64
percent_female                          39 non-null float64
percent_hispanic                        30 non-null float64
percent_male                            39 non-null float64
percent_non_hispanic_white              30 non-null float64
percent_other_unknown                   30 non-null float64
dtypes: float64(10), int64(4), object(4)
memory usage: 5.6+ KB

There are some missing values, but we will leave it so. So the last step will be just to save the file:

In [107]:
medicare2014.to_csv("medicare2014.csv",index=None)

### Case: Public education:

When you visit the [website](https://nces.ed.gov/ccd/) of the Common Core of Data from the US Department of Education, you can get a data set with detailed information on public schools at the state of Washington:

In [108]:
dataFile='https://github.com/EvansDataScience/data/raw/master/wapubs.xlsx'
schoolPub=pd.read_excel(dataFile)

1. Looking for messiness:

In [109]:
schoolPub.head(20)

,National Center for Education Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,CCD public school data 2014-2015 school year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The file contains (2398) records based on your...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NOTES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[ † ] indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,[ – ] indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,[ ‡ ] indicates that the data do not meet NCES...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"SEARCH CRITERIA: State: ""Washington"" - School ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NCES is not responsible for the manner in whic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NCES School ID,State School ID,NCES District ID,State District ID,Low Grade*,High Grade*,School Name,District,County Name*,Street Address,...,Locale*,Charter,Magnet*,Title I School*,Title 1 School Wide*,Students*,Teachers*,Student Teacher Ratio*,Free Lunch*,Reduced Lunch*
11,530486002475,1656,5304860,31025,06,08,10TH STREET SCHOOL,MARYSVILLE SCHOOL DISTRICT,SNOHOMISH COUNTY,7204 27TH AVE NE,...,Suburb: Midsize,No,–,No,†,167.00000,7.30000,22.9000000,20.00000,7.00000
12,530270001270,1646,5302700,06114,KG,12,49TH STREET ACADEMY,EVERGREEN SCHOOL DISTRICT (CLARK),CLARK COUNTY,14619B NE 49TH STREET,...,City: Midsize,No,–,Yes,Yes,123.00000,10.10000,12.2000000,75.00000,7.00000
13,530910002602,4500,5309100,34033,09,12,A G WEST BLACK HILLS HIGH SCHOOL,TUMWATER SCHOOL DISTRICT,THURSTON COUNTY,7741 LITTLEROCK ROAD SW,...,City: Small,No,–,No,†,867.00000,41.19000,21.0000000,189.00000,45.00000
14,530003000001,2834,5300030,14005,PK,06,A J WEST ELEMENTARY,ABERDEEN SCHOOL DISTRICT,GRAYS HARBOR COUNTY,1801 BAY AVE.,...,Town: Remote,No,–,Yes,Yes,410.00000,27.63000,14.8000000,330.00000,21.00000
15,530825002361,1533,5308250,32081,09,12,A-3 MULTIAGENCY ADOLESCENT PROG,SPOKANE SCHOOL DISTRICT,SPOKANE COUNTY,610 E NORTHFOOTHILLS DRIVE,...,City: Midsize,No,–,No,†,22.00000,3.10000,7.1000000,16.00000,3.00000
16,530966001632,3209,5309660,04246,KG,05,ABRAHAM LINCOLN ELEMENTARY,WENATCHEE SCHOOL DISTRICT,CHELAN COUNTY,1224 METHOW ST.,...,City: Small,No,–,Yes,Yes,514.00000,40.05000,12.8000000,361.00000,42.00000
17,530354003069,5063,5303540,17401,09,12,ACADEMY OF CITIZENSHIP AND EMPOWERMENT,HIGHLINE SCHOOL DISTRICT,KING COUNTY,4424 SOUTH 188TH STREET,...,Suburb: Large,No,–,Yes,Yes,433.00000,18.28000,23.7000000,295.00000,24.00000
18,530486003325,5209,5304860,31025,09,12,ACADEMY OF CONST AND ENGINEERING,MARYSVILLE SCHOOL DISTRICT,SNOHOMISH COUNTY,8301 84TH STREET NE,...,Suburb: Midsize,No,–,Yes,Yes,325.00000,16.20000,20.1000000,131.00000,35.00000
19,530048003466,5372,5300480,27403,09,12,ACCELERATION ACADEMY,BETHEL SCHOOL DISTRICT,PIERCE COUNTY,16218 PACIFIC AVE,...,Suburb: Large,No,–,No,†,102.00000,–,†,39.00000,8.00000

The first row is not the beginning of the table. We need to skip 11 rows; but pay attention to what you are deleting, as if is telling you how missing values were coded.

In [110]:
schoolPub=pd.read_excel(dataFile,skiprows=11,na_values=['†','‡','–'])
schoolPub.head()

,NCES School ID,State School ID,NCES District ID,State District ID,Low Grade*,High Grade*,School Name,District,County Name*,Street Address,...,Locale*,Charter,Magnet*,Title I School*,Title 1 School Wide*,Students*,Teachers*,Student Teacher Ratio*,Free Lunch*,Reduced Lunch*
0,530486002475,1656,5304860,31025,06,08,10TH STREET SCHOOL,MARYSVILLE SCHOOL DISTRICT,SNOHOMISH COUNTY,7204 27TH AVE NE,...,Suburb: Midsize,No,NaN,No,NaN,167.0,7.30,22.9,20.0,7.0
1,530270001270,1646,5302700,6114,KG,12,49TH STREET ACADEMY,EVERGREEN SCHOOL DISTRICT (CLARK),CLARK COUNTY,14619B NE 49TH STREET,...,City: Midsize,No,NaN,Yes,Yes,123.0,10.10,12.2,75.0,7.0
2,530910002602,4500,5309100,34033,09,12,A G WEST BLACK HILLS HIGH SCHOOL,TUMWATER SCHOOL DISTRICT,THURSTON COUNTY,7741 LITTLEROCK ROAD SW,...,City: Small,No,NaN,No,NaN,867.0,41.19,21.0,189.0,45.0
3,530003000001,2834,5300030,14005,PK,06,A J WEST ELEMENTARY,ABERDEEN SCHOOL DISTRICT,GRAYS HARBOR COUNTY,1801 BAY AVE.,...,Town: Remote,No,NaN,Yes,Yes,410.0,27.63,14.8,330.0,21.0
4,530825002361,1533,5308250,32081,09,12,A-3 MULTIAGENCY ADOLESCENT PROG,SPOKANE SCHOOL DISTRICT,SPOKANE COUNTY,610 E NORTHFOOTHILLS DRIVE,...,City: Midsize,No,NaN,No,NaN,22.0,3.10,7.1,16.0,3.0

In [111]:
#checking the tail:
schoolPub.tail()

,NCES School ID,State School ID,NCES District ID,State District ID,Low Grade*,High Grade*,School Name,District,County Name*,Street Address,...,Locale*,Charter,Magnet*,Title I School*,Title 1 School Wide*,Students*,Teachers*,Student Teacher Ratio*,Free Lunch*,Reduced Lunch*
2393,530813003439,5315,5308130,17406,09,12,YOUTHSOURCE,TUKWILA SCHOOL DISTRICT,KING COUNTY,TUKWILA SCHOOL DISTRICT,...,City: Small,No,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0
2394,530696002530,4496,5306960,27003,PK,06,ZEIGER ELEMENTARY,PUYALLUP SCHOOL DISTRICT,PIERCE COUNTY,13008 94TH AVE E,...,Suburb: Large,No,NaN,No,NaN,823.0,44.53,18.5,221.0,58.0
2395,531017001719,2240,5310170,39205,09,12,ZILLAH HIGH SCHOOL,ZILLAH SCHOOL DISTRICT,YAKIMA COUNTY,1602 SECOND AVENUE,...,Town: Distant,No,NaN,Yes,Yes,441.0,21.95,20.1,169.0,49.0
2396,531017001896,4221,5310170,39205,04,06,ZILLAH INTERMEDIATE SCHOOL,ZILLAH SCHOOL DISTRICT,YAKIMA COUNTY,303 SECOND AVENUE,...,Town: Distant,No,NaN,Yes,Yes,319.0,20.38,15.7,145.0,42.0
2397,531017002502,4481,5310170,39205,07,08,ZILLAH MIDDLE SCHOOL,ZILLAH SCHOOL DISTRICT,YAKIMA COUNTY,1301 CUTLER WAY,...,Rural: Fringe,No,NaN,Yes,Yes,196.0,12.65,15.5,91.0,19.0

The headers have blanks and symbols, getting rid of them here:

In [116]:
import re

pattern='\\*|\\s+'
nothing=''
schoolPub.columns=[re.sub(pattern,nothing,columnName) for columnName in schoolPub.columns]
schoolPub.columns

Index(['NCESSchoolID', 'StateSchoolID', 'NCESDistrictID', 'StateDistrictID',
       'LowGrade', 'HighGrade', 'SchoolName', 'District', 'CountyName',
       'StreetAddress', 'City', 'State', 'ZIP', 'ZIP4-digit', 'Phone',
       'LocaleCode', 'Locale', 'Charter', 'Magnet', 'TitleISchool',
       'Title1SchoolWide', 'Students', 'Teachers', 'StudentTeacherRatio',
       'FreeLunch', 'ReducedLunch'],
      dtype='object')

Clean names allow better exploring. Notice we solved the missing values above. You could have done this instead:

In [119]:
symbolsForNA=['†','‡','–'] 

import numpy as np  #numpy manages the nan for pandas
schoolPub.replace(symbolsForNA,np.nan,inplace=True) # in the whole data frame!!

2. Formatting

In [120]:
schoolPub.dtypes

NCESSchoolID             int64
StateSchoolID            int64
NCESDistrictID           int64
StateDistrictID          int64
LowGrade                object
HighGrade               object
SchoolName              object
District                object
CountyName              object
StreetAddress           object
City                    object
State                   object
ZIP                      int64
ZIP4-digit             float64
Phone                    int64
LocaleCode             float64
Locale                  object
Charter                 object
Magnet                 float64
TitleISchool            object
Title1SchoolWide        object
Students               float64
Teachers               float64
StudentTeacherRatio    float64
FreeLunch              float64
ReducedLunch           float64
dtype: object

Even though we cleaned the missing values, there might be more in the text columns that may be hidden. Obviously, 'SchoolName','District','CountyName','StreetAddress','City','State' are text, but the other are possibly categorical.

So let me explore all the other ones, which are of type _object_:

In [121]:
notUsed=['SchoolName','District','CountyName','StreetAddress','City','State']
 
# These are the ones without the obvious text columns
schoolPub.drop(notUsed,axis=1).head()

,NCESSchoolID,StateSchoolID,NCESDistrictID,StateDistrictID,LowGrade,HighGrade,ZIP,ZIP4-digit,Phone,LocaleCode,Locale,Charter,Magnet,TitleISchool,Title1SchoolWide,Students,Teachers,StudentTeacherRatio,FreeLunch,ReducedLunch
0,530486002475,1656,5304860,31025,06,08,98271,NaN,3606530665,22.0,Suburb: Midsize,No,NaN,No,NaN,167.0,7.30,22.9,20.0,7.0
1,530270001270,1646,5302700,6114,KG,12,98682,6308.0,3606046700,12.0,City: Midsize,No,NaN,Yes,Yes,123.0,10.10,12.2,75.0,7.0
2,530910002602,4500,5309100,34033,09,12,98512,7427.0,3607097800,13.0,City: Small,No,NaN,No,NaN,867.0,41.19,21.0,189.0,45.0
3,530003000001,2834,5300030,14005,PK,06,98520,5510.0,3605382131,33.0,Town: Remote,No,NaN,Yes,Yes,410.0,27.63,14.8,330.0,21.0
4,530825002361,1533,5308250,32081,09,12,99207,NaN,5094587466,12.0,City: Midsize,No,NaN,No,NaN,22.0,3.10,7.1,16.0,3.0

In [122]:
# # These are the ones without the obvious text columns, but of the type 'object':
schoolPub.drop(notUsed,axis=1).select_dtypes(include='object').head()

  LowGrade HighGrade           Locale Charter TitleISchool Title1SchoolWide
0       06        08  Suburb: Midsize      No           No              NaN
1       KG        12    City: Midsize      No          Yes              Yes
2       09        12      City: Small      No           No              NaN
3       PK        06     Town: Remote      No          Yes              Yes
4       09        12    City: Midsize      No           No              NaN

We need to see the categories there:

In [123]:
schoolPub.drop(notUsed,axis=1).select_dtypes(include='object').apply(set).tolist()

[{'01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  'KG',
  'PK',
  nan},
 {'01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '13',
  'KG',
  'PK',
  nan},
 {'City: Large',
  'City: Midsize',
  'City: Small',
  'N',
  'Rural: Distant',
  'Rural: Fringe',
  'Rural: Remote',
  'Suburb: Large',
  'Suburb: Midsize',
  'Suburb: Small',
  'Town: Distant',
  'Town: Fringe',
  'Town: Remote'},
 {'No', 'Yes'},
 {'No', 'Yes', nan},
 {'No', 'Yes', nan}]

We need to take care of the missing value '**N**':

In [124]:
schoolPub.Locale.value_counts(dropna=False)

Suburb: Large      580
City: Small        368
City: Midsize      246
Rural: Fringe      199
Suburb: Midsize    186
Rural: Distant     172
Town: Distant      157
Rural: Remote      139
City: Large        111
Town: Fringe        97
Town: Remote        85
Suburb: Small       57
N                    1
Name: Locale, dtype: int64

Then:

In [125]:
import numpy as np  #numpy manages the nan for pandas

schoolPub.replace(['N'],np.nan,inplace=True) # in the whole data frame!!

In [126]:
# So:
schoolPub.Locale.value_counts(dropna=False)

Suburb: Large      580
City: Small        368
City: Midsize      246
Rural: Fringe      199
Suburb: Midsize    186
Rural: Distant     172
Town: Distant      157
Rural: Remote      139
City: Large        111
Town: Fringe        97
Town: Remote        85
Suburb: Small       57
NaN                  1
Name: Locale, dtype: int64

Another important step could be to give add some text to make the school grades a recognizable ordering (considering the file will be read in R:

In [127]:
# this is wrong:
'PK'<'KG'<'01'

False

In [128]:
# this is OK:
'-1 PK'<'0 KG'<'01'

True

In [129]:
# using replace:

schoolPub.replace({'PK':"-1 PK", "KG":"0 KG"},inplace=True)

Unless you want to recode other [variables](https://nces.ed.gov/programs/edge/docs/LOCALE_CLASSIFICATIONS.pdf), we could save this file:

In [130]:
schoolPub.to_csv("schoolPub.csv",index=None)

### Case: SNAP

In [131]:
import pandas as pd
dataFile="https://github.com/EvansDataScience/data/raw/master/cntysnap.xls"
snapBen=pd.read_excel(dataFile)

In [132]:
# first rows:
snapBen.head()

,Table with column headers in row 3,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Table: County SNAP benefits recipients\nSourc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State FIPS code,County FIPS code,Name,July 2013,July 2012,July 2011,July 2010,July 2009,July 2008,July 2007,...,July 2003,July 2002,July 2001,July 2000,July 1999,July 1998,July 1997,July 1995,July 1993,July 1989
2,1,0,Alabama,905604,914740,905658,859695,780427,642427,561024,...,491910,463998,435235,405325,396931,409160,434632,510271,561128,435296
3,1,1,"Autauga County, AL",8055,8079,8060,7593,6907,5423,4686,...,3594,3352,3035,2814,2700,2589,2771,3611,4608,3739
4,1,3,"Baldwin County, AL",24402,23169,22184,20604,16545,10848,8627,...,5659,4945,4129,4178,4372,4850,5201,6928,8053,5548

We need to skip some rows:

In [133]:
# skipping:

snapBen=pd.read_excel(dataFile,skiprows=2)
snapBen.head()

,State FIPS code,County FIPS code,Name,July 2013,July 2012,July 2011,July 2010,July 2009,July 2008,July 2007,...,July 2003,July 2002,July 2001,July 2000,July 1999,July 1998,July 1997,July 1995,July 1993,July 1989
0,1,0,Alabama,905604.0,914740.0,905658.0,859695.0,780427.0,642427.0,561024.0,...,491910.0,463998.0,435235.0,405325.0,396931.0,409160.0,434632.0,510271.0,561128.0,435296.0
1,1,1,"Autauga County, AL",8055.0,8079.0,8060.0,7593.0,6907.0,5423.0,4686.0,...,3594.0,3352.0,3035.0,2814.0,2700.0,2589.0,2771.0,3611.0,4608.0,3739.0
2,1,3,"Baldwin County, AL",24402.0,23169.0,22184.0,20604.0,16545.0,10848.0,8627.0,...,5659.0,4945.0,4129.0,4178.0,4372.0,4850.0,5201.0,6928.0,8053.0,5548.0
3,1,5,"Barbour County, AL",6740.0,6843.0,6465.0,6324.0,6340.0,5672.0,5389.0,...,4981.0,4959.0,4637.0,4415.0,4490.0,4788.0,4947.0,5268.0,5499.0,5056.0
4,1,7,"Bibb County, AL",4175.0,4269.0,4336.0,4152.0,3848.0,2967.0,2577.0,...,2116.0,1953.0,1765.0,1685.0,1631.0,1776.0,1999.0,2085.0,2503.0,2056.0

In [134]:
# check the tail
snapBen.tail()

,State FIPS code,County FIPS code,Name,July 2013,July 2012,July 2011,July 2010,July 2009,July 2008,July 2007,...,July 2003,July 2002,July 2001,July 2000,July 1999,July 1998,July 1997,July 1995,July 1993,July 1989
3196,56,37,"Sweetwater County, WY",2186.0,2073.0,1906.0,2000.0,1731.0,951.0,720.0,...,1435.0,1434.0,1152.0,1151.0,1108.0,1251.0,1511.0,2047.0,2031.0,1736.0
3197,56,39,"Teton County, WY",268.0,243.0,263.0,184.0,183.0,109.0,88.0,...,106.0,107.0,95.0,81.0,77.0,100.0,129.0,159.0,159.0,85.0
3198,56,41,"Uinta County, WY",1636.0,1743.0,1673.0,1747.0,1670.0,1059.0,1031.0,...,1271.0,1208.0,1094.0,1108.0,1106.0,1037.0,1058.0,1278.0,1267.0,856.0
3199,56,43,"Washakie County, WY",604.0,603.0,675.0,713.0,613.0,543.0,456.0,...,476.0,443.0,286.0,401.0,343.0,338.0,374.0,619.0,743.0,666.0
3200,56,45,"Weston County, WY",800.0,329.0,365.0,429.0,379.0,279.0,236.0,...,267.0,267.0,284.0,216.0,260.0,257.0,256.0,275.0,271.0,300.0

In [135]:
# checking names:
snapBen.columns

Index(['State FIPS code', 'County FIPS code', 'Name', 'July 2013', 'July 2012',
       'July 2011', 'July 2010', 'July 2009', 'July 2008', 'July 2007',
       'July 2006', 'July 2005', 'July 2004', 'July 2003', 'July 2002',
       'July 2001', 'July 2000', 'July 1999', 'July 1998', 'July 1997',
       'July 1995', 'July 1993', 'July 1989'],
      dtype='object')

In [136]:
# getting rid of blanks:

pattern='\\s+'
nothing=''
snapBen.columns=[re.sub(pattern,nothing,columnName) for columnName in snapBen.columns]

There is a zero FIPS code, take a look:

In [137]:
snapBen[snapBen['CountyFIPScode']==0]

,StateFIPScode,CountyFIPScode,Name,July2013,July2012,July2011,July2010,July2009,July2008,July2007,...,July2003,July2002,July2001,July2000,July1999,July1998,July1997,July1995,July1993,July1989
0,1,0,Alabama,905604.0,914740.0,905658.0,859695.0,780427.0,642427.0,561024.0,...,491910.0,463998.0,435235.0,405325.0,396931.0,409160.0,434632.0,510271.0,561128.0,435296.0
68,2,0,Alaska,82561.0,84098.0,82354.0,76371.0,67591.0,57056.0,51754.0,...,43794.0,43863.0,38909.0,29473.0,33529.0,34026.0,35981.0,36339.0,47059.0,19569.0
102,4,0,Arizona,1058025.0,1116065.0,1123066.0,1049272.0,986413.0,752722.0,600549.0,...,522009.0,442945.0,355735.0,277436.0,258007.0,260747.0,311157.0,434543.0,492926.0,272507.0
118,5,0,Arkansas,496260.0,504549.0,498981.0,483581.0,456286.0,397887.0,376866.0,...,336668.0,303177.0,277277.0,251901.0,247206.0,254193.0,256490.0,272203.0,283001.0,220392.0
194,6,0,California,4289489.0,4124878.0,3903859.0,3574897.0,3106465.0,2528337.0,2155571.0,...,1807695.0,1689369.0,1699342.0,1690077.0,1882388.0,2071540.0,2368968.0,3166792.0,3013167.0,1780476.0
253,8,0,Colorado,505745.0,506082.0,484677.0,441346.0,387515.0,295668.0,249454.0,...,236350.0,198401.0,171983.0,152198.0,159713.0,176344.0,196140.0,245144.0,270835.0,206645.0
318,9,0,Connecticut,436118.0,419806.0,398405.0,371356.0,317717.0,244596.0,221603.0,...,192577.0,177267.0,164793.0,157935.0,167680.0,182236.0,200287.0,223945.0,217628.0,115384.0
327,10,0,Delaware,151017.0,152235.0,146157.0,130027.0,107036.0,85344.0,72404.0,...,53107.0,44427.0,37264.0,31121.0,34293.0,39855.0,47229.0,56829.0,58084.0,29441.0
331,11,0,District of Columbia,143182.0,144251.0,140450.0,131366.0,114055.0,98911.0,88504.0,...,85441.0,79029.0,73800.0,74711.0,82085.0,84001.0,86850.0,93358.0,86316.0,57983.0
333,12,0,Florida,3515731.0,3529190.0,3279197.0,2988351.0,2456494.0,1789890.0,1381870.0,...,1140247.0,1033097.0,963846.0,874989.0,892560.0,942226.0,1031032.0,1378539.0,1479935.0,684026.0
402,13,0,Georgia,1823017.0,1959208.0,1885404.0,1737548.0,1527098.0,1202181.0,987851.0,...,847886.0,715606.0,625469.0,562715.0,568313.0,616315.0,642623.0,799372.0,808590.0,485435.0
562,15,0,Hawaii,180243.0,176774.0,164612.0,149691.0,129214.0,105862.0,91419.0,...,94695.0,96609.0,101590.0,108501.0,117375.0,121504.0,119397.0,121470.0,105810.0,74739.0
568,16,0,Idaho,216324.0,228394.0,234421.0,223268.0,179100.0,124826.0,95433.0,...,89904.0,78336.0,67096.0,58781.0,57831.0,57653.0,63994.0,80314.0,80334.0,55153.0
613,17,0,Illinois,2014248.0,2009195.0,1837040.0,1763841.0,1595460.0,1404337.0,1283308.0,...,1039531.0,931820.0,869756.0,820612.0,805569.0,838350.0,950782.0,1115165.0,1197681.0,974221.0
716,18,0,Indiana,906094.0,923679.0,901880.0,867101.0,787183.0,676444.0,607989.0,...,516360.0,452647.0,395959.0,331277.0,297341.0,299879.0,321818.0,401876.0,488947.0,276276.0
809,19,0,Iowa,413838.0,418566.0,402510.0,363392.0,330736.0,284805.0,248865.0,...,170484.0,149994.0,137590.0,124475.0,124384.0,130537.0,145454.0,178478.0,202175.0,164508.0
909,20,0,Kansas,301910.0,315270.0,302122.0,295107.0,258290.0,206798.0,185715.0,...,168094.0,156177.0,134957.0,122290.0,115491.0,114597.0,123938.0,175490.0,189173.0,130737.0
1015,21,0,Kentucky,843164.0,869035.0,843939.0,814176.0,761654.0,680087.0,624074.0,...,537087.0,488252.0,438053.0,408736.0,402051.0,397549.0,417573.0,495668.0,526112.0,448091.0
1136,22,0,Louisiana,888848.0,940470.0,901509.0,871590.0,804654.0,695494.0,659888.0,...,692650.0,633758.0,570007.0,508523.0,503054.0,519273.0,536300.0,672697.0,775203.0,722324.0
1201,23,0,Maine,236402.0,250717.0,252859.0,244239.0,224060.0,192135.0,169492.0,...,141408.0,126155.0,109494.0,102723.0,103090.0,110042.0,116704.0,130559.0,136752.0,94972.0
1218,24,0,Maryland,788871.0,755866.0,707661.0,645754.0,535464.0,423942.0,347242.0,...,268197.0,245931.0,222348.0,208690.0,225225.0,282254.0,330773.0,380763.0,379019.0,246939.0
1243,25,0,Massachusetts,875701.0,885351.0,848783.0,800774.0,726332.0,590253.0,488434.0,...,326564.0,275985.0,234506.0,219869.0,239049.0,266913.0,298847.0,379768.0,439760.0,316846.0
1258,26,0,Michigan,1707684.0,1787877.0,1858780.0,1913854.0,1710083.0,1372589.0,1243261.0,...,915969.0,808996.0,726372.0,623983.0,615613.0,708082.0,783917.0,929669.0,1049716.0,876266.0
1342,27,0,Minnesota,543655.0,549343.0,534585.0,487366.0,412855.0,324755.0,290975.0,...,244714.0,230000.0,212361.0,195193.0,198440.0,210594.0,226913.0,296265.0,324421.0,240418.0
1430,28,0,Mississippi,661656.0,666971.0,648217.0,611475.0,563186.0,484901.0,441264.0,...,372878.0,345787.0,320117.0,290342.0,276074.0,294913.0,344194.0,463402.0,536304.0,491564.0
1513,29,0,Missouri,879118.0,936521.0,950262.0,937014.0,882524.0,768909.0,867684.0,...,678902.0,561124.0,501541.0,444479.0,418428.0,405632.0,418849.0,557790.0,585440.0,400284.0
1629,30,0,Montana,125787.0,127903.0,126497.0,122364.0,109330.0,87236.0,80113.0,...,76533.0,68780.0,63777.0,61050.0,59661.0,61071.0,63072.0,70874.0,70163.0,54031.0
1686,31,0,Nebraska,176310.0,178485.0,175738.0,172619.0,156946.0,127580.0,120628.0,...,111293.0,96043.0,85790.0,80013.0,84667.0,94340.0,94776.0,102341.0,113359.0,93621.0
1780,32,0,Nevada,375506.0,358592.0,352156.0,323290.0,260417.0,179790.0,137589.0,...,119750.0,106966.0,91216.0,65516.0,60076.0,63505.0,73842.0,97698.0,94562.0,41831.0
1798,33,0,New Hampshire,113335.0,117915.0,116026.0,112318.0,99229.0,72986.0,62184.0,...,47314.0,43858.0,39805.0,35240.0,36841.0,37749.0,41216.0,54088.0,60501.0,18858.0
1809,34,0,New Jersey,885295.0,861217.0,805849.0,721964.0,586797.0,479648.0,430297.0,...,361659.0,331079.0,317587.0,321083.0,355887.0,392925.0,439944.0,544386.0,537948.0,355355.0
1831,35,0,New Mexico,427565.0,442013.0,434715.0,402641.0,340522.0,273274.0,235175.0,...,214748.0,188916.0,166850.0,164321.0,171553.0,179182.0,181556.0,236101.0,243883.0,146547.0
1865,36,0,New York,3142350.0,3150043.0,3063320.0,2957355.0,2667169.0,2207533.0,1892421.0,...,1554923.0,1404743.0,1335058.0,1375684.0,1465282.0,1557316.0,1682208.0,2120154.0,2084565.0,1404492.0
1928,37,0,North Carolina,1605019.0,1717751.0,1651103.0,1526874.0,1294732.0,1077913.0,924264.0,...,714506.0,624327.0,555598.0,482471.0,479214.0,494559.0,540951.0,606802.0,625699.0,386258.0
2029,38,0,North Dakota,54182.0,57321.0,59306.0,60882.0,58772.0,51127.0,47907.0,...,41231.0,38880.0,37188.0,35934.0,32163.0,33625.0,34105.0,40117.0,47809.0,38847.0
2083,39,0,Ohio,1776110.0,1819674.0,1797850.0,1756683.0,1560306.0,1284623.0,1127047.0,...,926868.0,823119.0,710357.0,625959.0,612194.0,656845.0,764064.0,1075120.0,1266059.0,1059042.0
2172,40,0,Oklahoma,616407.0,617796.0,616699.0,611025.0,561843.0,447834.0,417865.0,...,406786.0,366487.0,294128.0,255325.0,256162.0,275956.0,290669.0,361346.0,370762.0,252067.0
2250,41,0,Oregon,807343.0,818703.0,807844.0,758610.0,681587.0,543387.0,456936.0,...,415857.0,388141.0,344903.0,262839.0,229311.0,224828.0,240990.0,288217.0,282848.0,212721.0
2287,42,0,Pennsylvania,1795656.0,1779463.0,1793280.0,1686558.0,1521979.0,1285078.0,1171858.0,...,930851.0,795450.0,761419.0,751008.0,789275.0,849940.0,929557.0,1134379.0,1214316.0,911161.0
2355,44,0,Rhode Island,179505.0,178789.0,170351.0,155871.0,130891.0,95339.0,82590.0,...,77197.0,72948.0,71816.0,71712.0,74990.0,76052.0,76718.0,91795.0,95199.0,57682.0
2361,45,0,South Carolina,849265.0,875087.0,865872.0,836837.0,774565.0,656986.0,574845.0,...,488281.0,431150.0,364007.0,304970.0,296676.0,314883.0,336886.0,356503.0,388484.0,252258.0
2408,46,0,South Dakota,101878.0,104141.0,103717.0,100782.0,91508.0,68917.0,62272.0,...,53052.0,50171.0,46896.0,44045.0,42915.0,44409.0,45227.0,49790.0,55514.0,49514.0
2475,47,0,Tennessee,1325525.0,1340043.0,1302733.0,1270158.0,1197567.0,1019939.0,893900.0,...,791908.0,692237.0,576644.0,510464.0,496747.0,517299.0,546662.0,640336.0,782500.0,494625.0
2571,48,0,Texas,3904594.0,4037499.0,4066905.0,3900514.0,3360597.0,2863238.0,2456223.0,...,2190003.0,1755362.0,1500923.0,1338268.0,1340232.0,1442124.0,1723403.0,2423614.0,2677888.0,1659004.0
2826,49,0,Utah,233233.0,255943.0,283599.0,278588.0,234659.0,168514.0,129028.0,...,119761.0,101241.0,86724.0,79795.0,83514.0,89292.0,92822.0,111564.0,126833.0,94368.0
2856,50,0,Vermont,95994.0,100138.0,95292.0,90526.0,83846.0,66506.0,54691.0,...,42233.0,40924.0,39632.0,39070.0,41764.0,45047.0,49598.0,57098.0,57128.0,36667.0
2871,51,0,Virginia,931617.0,935477.0,903942.0,841298.0,759559.0,614144.0,534626.0,...,438120.0,378247.0,346140.0,331054.0,340669.0,367932.0,412457.0,542171.0,545005.0,325488.0
3008,53,0,Washington,1102226.0,1113822.0,1099878.0,1033543.0,912894.0,695549.0,557799.0,...,441186.0,388833.0,339089.0,302617.0,294427.0,318497.0,380224.0,473821.0,456829.0,265611.0
3048,54,0,West Virginia,358503.0,349611.0,345056.0,344910.0,333894.0,295285.0,274361.0,...,254738.0,243895.0,230384.0,219524.0,230640.0,252191.0,273287.0,301630.0,320351.0,263330.0
3104,55,0,Wisconsin,847916.0,852811.0,830468.0,783731.0,680327.0,506314.0,407508.0,...,319782.0,287587.0,251868.0,208085.0,188094.0,182506.0,200554.0,295597.0,335921.0,284352.0
3177,56,0,Wyoming,36992.0,37305.0,34196.0,36411.0,33348.0,24948.0,22503.0,...,25703.0,25036.0,22954.0,22523.0,22485.0,23904.0,25950.0,33075.0,35600.0,27816.0

Those are rows about States. I will keep the counties:

In [138]:
snapBenUSCounties=snapBen[snapBen['CountyFIPScode']!=0]

In [139]:
# checking data types:
snapBenUSCounties.dtypes

StateFIPScode       int64
CountyFIPScode      int64
Name               object
July2013          float64
July2012          float64
July2011          float64
July2010          float64
July2009          float64
July2008          float64
July2007          float64
July2006          float64
July2005          float64
July2004          float64
July2003          float64
July2002          float64
July2001          float64
July2000          float64
July1999          float64
July1998          float64
July1997          float64
July1995          float64
July1993          float64
July1989          float64
dtype: object

The counties tell you to what State they belong, so we could use that to create a new column. Let's see a simple example on how to get information from a text:

In [140]:
# using split,a function for strings:
'Autauga County, AL'.split(', ') # notice the space after the comma
# you get a list:

['Autauga County', 'AL']

The **split**, in this case, returns the state in the second position of the list (index=1), then:

In [141]:
# saving every second element for each element in the column:
states=[element.split(', ')[1] for element in snapBenUSCounties.Name]

# make that list a new column
snapBenUSCounties=snapBenUSCounties.assign(StateName=states)

# checking:
snapBenUSCounties

,StateFIPScode,CountyFIPScode,Name,July2013,July2012,July2011,July2010,July2009,July2008,July2007,...,July2002,July2001,July2000,July1999,July1998,July1997,July1995,July1993,July1989,StateName
1,1,1,"Autauga County, AL",8055.0,8079.0,8060.0,7593.0,6907.0,5423.0,4686.0,...,3352.0,3035.0,2814.0,2700.0,2589.0,2771.0,3611.0,4608.0,3739.0,AL
2,1,3,"Baldwin County, AL",24402.0,23169.0,22184.0,20604.0,16545.0,10848.0,8627.0,...,4945.0,4129.0,4178.0,4372.0,4850.0,5201.0,6928.0,8053.0,5548.0,AL
3,1,5,"Barbour County, AL",6740.0,6843.0,6465.0,6324.0,6340.0,5672.0,5389.0,...,4959.0,4637.0,4415.0,4490.0,4788.0,4947.0,5268.0,5499.0,5056.0,AL
4,1,7,"Bibb County, AL",4175.0,4269.0,4336.0,4152.0,3848.0,2967.0,2577.0,...,1953.0,1765.0,1685.0,1631.0,1776.0,1999.0,2085.0,2503.0,2056.0,AL
5,1,9,"Blount County, AL",9037.0,9368.0,9425.0,8967.0,7283.0,5695.0,4690.0,...,3066.0,2637.0,2436.0,2593.0,2789.0,2926.0,3373.0,3665.0,2392.0,AL
6,1,11,"Bullock County, AL",2966.0,3023.0,3065.0,3039.0,2847.0,2553.0,2393.0,...,2242.0,2226.0,2124.0,2094.0,2124.0,2261.0,2666.0,2901.0,2564.0,AL
7,1,13,"Butler County, AL",5451.0,5719.0,5554.0,5402.0,5390.0,4378.0,3672.0,...,3342.0,3361.0,3407.0,3307.0,3235.0,3251.0,3748.0,4710.0,4221.0,AL
8,1,15,"Calhoun County, AL",25918.0,27006.0,26151.0,25252.0,22691.0,18382.0,15966.0,...,12235.0,11353.0,10339.0,10321.0,10910.0,11380.0,13225.0,14637.0,10161.0,AL
9,1,17,"Chambers County, AL",7624.0,7577.0,7942.0,8488.0,8263.0,6696.0,5740.0,...,4419.0,3952.0,3499.0,3659.0,3716.0,3756.0,4821.0,5153.0,3581.0,AL
10,1,19,"Cherokee County, AL",5434.0,5731.0,5671.0,5448.0,4937.0,4081.0,3645.0,...,2705.0,2540.0,2061.0,2011.0,2054.0,1971.0,1955.0,1892.0,1652.0,AL
11,1,21,"Chilton County, AL",9205.0,9463.0,9927.0,9962.0,8869.0,6859.0,5784.0,...,4411.0,3793.0,3555.0,3360.0,3576.0,3464.0,3986.0,4525.0,3096.0,AL
12,1,23,"Choctaw County, AL",3519.0,3606.0,3650.0,3364.0,3366.0,3057.0,2690.0,...,2392.0,2332.0,2161.0,2272.0,2270.0,2483.0,2592.0,3077.0,3071.0,AL
13,1,25,"Clarke County, AL",6970.0,6998.0,6637.0,6370.0,6183.0,5700.0,5182.0,...,4909.0,5209.0,5014.0,4925.0,4864.0,5144.0,5427.0,5975.0,4998.0,AL
14,1,27,"Clay County, AL",2319.0,2385.0,2334.0,2268.0,1921.0,1353.0,1105.0,...,893.0,936.0,862.0,793.0,814.0,979.0,981.0,1239.0,989.0,AL
15,1,29,"Cleburne County, AL",2805.0,2844.0,2734.0,2643.0,2243.0,1811.0,1552.0,...,1283.0,1188.0,977.0,957.0,1034.0,985.0,1153.0,1451.0,943.0,AL
16,1,31,"Coffee County, AL",7215.0,6970.0,6703.0,6375.0,5750.0,4652.0,4140.0,...,3692.0,3749.0,3511.0,3274.0,2811.0,3133.0,3521.0,3809.0,2877.0,AL
17,1,33,"Colbert County, AL",9869.0,10164.0,10006.0,9418.0,8537.0,6945.0,6161.0,...,5519.0,4920.0,4232.0,4009.0,3994.0,3897.0,4266.0,5044.0,3732.0,AL
18,1,35,"Conecuh County, AL",3914.0,4184.0,4250.0,4383.0,4290.0,3887.0,3408.0,...,3032.0,3022.0,3064.0,3178.0,3389.0,3615.0,3655.0,3891.0,3530.0,AL
19,1,37,"Coosa County, AL",1978.0,2174.0,2145.0,2044.0,2025.0,1498.0,1332.0,...,1083.0,923.0,838.0,853.0,929.0,1003.0,1053.0,1248.0,967.0,AL
20,1,39,"Covington County, AL",8074.0,8452.0,8593.0,8170.0,7841.0,6938.0,6167.0,...,5056.0,5013.0,4652.0,4620.0,4821.0,4525.0,5277.0,5842.0,4491.0,AL
21,1,41,"Crenshaw County, AL",2997.0,3084.0,3036.0,3068.0,2977.0,2390.0,2124.0,...,1914.0,1693.0,1489.0,1528.0,1527.0,1609.0,1965.0,2297.0,1900.0,AL
22,1,43,"Cullman County, AL",12811.0,12889.0,12341.0,11767.0,10899.0,8607.0,7506.0,...,4613.0,4026.0,3737.0,3485.0,3741.0,3649.0,4517.0,6270.0,4805.0,AL
23,1,45,"Dale County, AL",10858.0,11049.0,11031.0,10504.0,9980.0,8592.0,7453.0,...,6611.0,6387.0,5665.0,6002.0,6309.0,6243.0,6873.0,6794.0,4352.0,AL
24,1,47,"Dallas County, AL",17240.0,17673.0,17574.0,17595.0,16921.0,15230.0,13725.0,...,12726.0,12237.0,11837.0,11703.0,11782.0,12335.0,13989.0,15550.0,13675.0,AL
25,1,49,"DeKalb County, AL",15364.0,14750.0,14751.0,13683.0,12599.0,8990.0,7653.0,...,5022.0,4445.0,3852.0,3768.0,3910.0,4086.0,4763.0,5558.0,4336.0,AL
26,1,51,"Elmore County, AL",12839.0,12800.0,12696.0,11637.0,10147.0,7858.0,6477.0,...,5274.0,4753.0,4101.0,3755.0,3849.0,4021.0,4509.0,5328.0,3647.0,AL
27,1,53,"Escambia County, AL",10047.0,10191.0,10066.0,9696.0,9185.0,7955.0,7016.0,...,5482.0,5234.0,4382.0,4135.0,4109.0,4303.0,5678.0,6413.0,5563.0,AL
28,1,55,"Etowah County, AL",18609.0,18877.0,18862.0,18010.0,16488.0,12967.0,11067.0,...,9490.0,9031.0,8837.0,8735.0,8948.0,9713.0,11247.0,12255.0,9156.0,AL
29,1,57,"Fayette County, AL",3894.0,3851.0,3986.0,3995.0,3623.0,3210.0,2865.0,...,2566.0,2428.0,2105.0,1871.0,1846.0,1797.0,2319.0,2518.0,2087.0,AL
30,1,59,"Franklin County, AL",6764.0,6983.0,6913.0,6705.0,6440.0,5156.0,4451.0,...,3476.0,3209.0,2817.0,2630.0,2874.0,2737.0,3084.0,3560.0,3100.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3170,55,129,"Washburn County, WI",2828.0,3064.0,3320.0,2994.0,2527.0,1892.0,1373.0,...,684.0,565.0,479.0,420.0,422.0,399.0,868.0,1035.0,1059.0,WI
3171,55,131,"Washington County, WI",9147.0,9610.0,9771.0,9363.0,8011.0,5229.0,4086.0,...,2074.0,1881.0,1352.0,1089.0,923.0,987.0,1761.0,1967.0,1306.0,WI
3172,55,133,"Waukesha County, WI",19761.0,19463.0,18697.0,16548.0,12821.0,8836.0,6529.0,...,3717.0,3101.0,2746.0,2087.0,2003.0,2017.0,3618.0,4089.0,3009.0,WI
3173,55,135,"Waupaca County, WI",6000.0,5979.0,5974.0,5890.0,4851.0,3303.0,2419.0,...,1365.0,1032.0,748.0,659.0,626.0,669.0,1459.0,1883.0,1563.0,WI
3174,55,137,"Waushara County, WI",3297.0,3478.0,3512.0,3393.0,2993.0,2223.0,1640.0,...,1067.0,1130.0,1008.0,1011.0,800.0,883.0,1835.0,1789.0,1619.0,WI
3175,55,139,"Winnebago County, WI",19325.0,19105.0,18452.0,17310.0,14962.0,10953.0,8629.0,...,4247.0,3569.0,2946.0,2690.0,2632.0,2833.0,4324.0,5244.0,4789.0,WI
3176,55,141,"Wood County, WI",11759.0,11623.0,11585.0,10894.0,9508.0,7339.0,6023.0,...,3771.0,3323.0,2630.0,2469.0,2204.0,2158.0,3682.0,4015.0,3135.0,WI
3178,56,1,"Albany County, WY",1855.0,1966.0,1924.0,1874.0,1940.0,1481.0,1419.0,...,1383.0,1270.0,1237.0,1367.0,1549.0,1554.0,1927.0,1878.0,1373.0,WY
3179,56,3,"Big Horn County, WY",346.0,356.0,344.0,357.0,353.0,260.0,267.0,...,515.0,596.0,566.0,575.0,284.0,292.0,523.0,668.0,1089.0,WY
3180,56,5,"Campbell County, WY",1840.0,2069.0,1638.0,1952.0,1646.0,1013.0,807.0,...,711.0,739.0,714.0,929.0,822.0,823.0,1310.0,1510.0,1173.0,WY
3181,56,7,"Carbon County, WY",1047.0,1158.0,1125.0,1254.0,1309.0,881.0,790.0,...,824.0,733.0,658.0,638.0,667.0,771.0,947.0,938.0,685.0,WY
3182,56,9,"Converse County, WY",732.0,763.0,756.0,942.0,876.0,623.0,626.0,...,600.0,607.0,694.0,653.0,813.0,811.0,770.0,873.0,786.0,WY
3183,56,11,"Crook County, WY",344.0,232.0,253.0,199.0,199.0,93.0,117.0,...,99.0,53.0,88.0,57.0,93.0,85.0,138.0,227.0,199.0,WY
3184,56,13,"Fremont County, WY",4929.0,5546.0,3781.0,3959.0,3608.0,3079.0,2772.0,...,3774.0,3370.0,3392.0,2864.0,3113.0,3827.0,4506.0,5065.0,3955.0,WY
3185,56,15,"Goshen County, WY",1177.0,1353.0,1262.0,1447.0,1432.0,1194.0,1093.0,...,908.0,922.0,853.0,913.0,986.0,965.0,1517.0,1762.0,2045.0,WY
3186,56,17,"Hot Springs County, WY",422.0,411.0,343.0,400.0,384.0,272.0,249.0,...,200.0,327.0,170.0,190.0,192.0,221.0,228.0,394.0,286.0,WY
3187,56,19,"Johnson County, WY",387.0,283.0,369.0,359.0,357.0,241.0,220.0,...,244.0,240.0,212.0,250.0,238.0,279.0,276.0,439.0,246.0,WY
3188,56,21,"Laramie County, WY",7542.0,7453.0,6830.0,7334.0,6606.0,5378.0,4726.0,...,4500.0,4218.0,4033.0,3878.0,4273.0,4286.0,5755.0,5884.0,4692.0,WY
3189,56,23,"Lincoln County, WY",757.0,794.0,927.0,922.0,683.0,476.0,390.0,...,476.0,382.0,379.0,388.0,350.0,437.0,552.0,562.0,442.0,WY
3190,56,25,"Natrona County, WY",5547.0,5373.0,5270.0,5585.0,5252.0,3826.0,3529.0,...,4107.0,3639.0,3480.0,3613.0,3787.0,4238.0,5297.0,5564.0,3821.0,WY
3191,56,27,"Niobrara County, WY",195.0,311.0,255.0,217.0,223.0,170.0,146.0,...,211.0,214.0,190.0,221.0,206.0,261.0,221.0,248.0,191.0,WY
3192,56,29,"Park County, WY",1756.0,1790.0,1754.0,1918.0,1722.0,1361.0,1255.0,...,1225.0,992.0,1007.0,1050.0,1699.0,1700.0,2098.0,2488.0,1388.0,WY
3193,56,31,"Platte County, WY",644.0,451.0,553.0,603.0,469.0,495.0,444.0,...,545.0,453.0,414.0,456.0,384.0,425.0,547.0,644.0,517.0,WY
3194,56,33,"Sheridan County, WY",1801.0,1873.0,1803.0,1853.0,1598.0,1110.0,1077.0,...,1173.0,1179.0,1337.0,1438.0,1370.0,1515.0,1896.0,1823.0,1162.0,WY
3195,56,35,"Sublette County, WY",178.0,132.0,129.0,162.0,115.0,53.0,45.0,...,81.0,109.0,142.0,110.0,99.0,132.0,190.0,162.0,123.0,WY
3196,56,37,"Sweetwater County, WY",2186.0,2073.0,1906.0,2000.0,1731.0,951.0,720.0,...,1434.0,1152.0,1151.0,1108.0,1251.0,1511.0,2047.0,2031.0,1736.0,WY
3197,56,39,"Teton County, WY",268.0,243.0,263.0,184.0,183.0,109.0,88.0,...,107.0,95.0,81.0,77.0,100.0,129.0,159.0,159.0,85.0,WY
3198,56,41,"Uinta County, WY",1636.0,1743.0,1673.0,1747.0,1670.0,1059.0,1031.0,...,1208.0,1094.0,1108.0,1106.0,1037.0,1058.0,1278.0,1267.0,856.0,WY
3199,56,43,"Washakie County, WY",604.0,603.0,675.0,713.0,613.0,543.0,456.0,...,443.0,286.0,401.0,343.0,338.0,374.0,619.0,743.0,666.0,WY
3200,56,45,"Weston County, WY",800.0,329.0,365.0,429.0,379.0,279.0,236.0,...,267.0,284.0,216.0,260.0,257.0,256.0,275.0,271.0,300.0,WY

The new column was created. We could get rid of the state information from the counties column:

In [142]:
# just keep county names
counties=[element.split(', ')[0] for element in snapBenUSCounties.Name]
snapBenUSCounties=snapBenUSCounties.assign(Name=counties)

In [143]:
# quick look:

snapBenUSCounties.head() # last column will be ate the end...

,StateFIPScode,CountyFIPScode,Name,July2013,July2012,July2011,July2010,July2009,July2008,July2007,...,July2002,July2001,July2000,July1999,July1998,July1997,July1995,July1993,July1989,StateName
1,1,1,Autauga County,8055.0,8079.0,8060.0,7593.0,6907.0,5423.0,4686.0,...,3352.0,3035.0,2814.0,2700.0,2589.0,2771.0,3611.0,4608.0,3739.0,AL
2,1,3,Baldwin County,24402.0,23169.0,22184.0,20604.0,16545.0,10848.0,8627.0,...,4945.0,4129.0,4178.0,4372.0,4850.0,5201.0,6928.0,8053.0,5548.0,AL
3,1,5,Barbour County,6740.0,6843.0,6465.0,6324.0,6340.0,5672.0,5389.0,...,4959.0,4637.0,4415.0,4490.0,4788.0,4947.0,5268.0,5499.0,5056.0,AL
4,1,7,Bibb County,4175.0,4269.0,4336.0,4152.0,3848.0,2967.0,2577.0,...,1953.0,1765.0,1685.0,1631.0,1776.0,1999.0,2085.0,2503.0,2056.0,AL
5,1,9,Blount County,9037.0,9368.0,9425.0,8967.0,7283.0,5695.0,4690.0,...,3066.0,2637.0,2436.0,2593.0,2789.0,2926.0,3373.0,3665.0,2392.0,AL

We can have a better column order:

In [144]:
oldNames=snapBenUSCounties.columns.tolist()
oldNames

['StateFIPScode',
 'CountyFIPScode',
 'Name',
 'July2013',
 'July2012',
 'July2011',
 'July2010',
 'July2009',
 'July2008',
 'July2007',
 'July2006',
 'July2005',
 'July2004',
 'July2003',
 'July2002',
 'July2001',
 'July2000',
 'July1999',
 'July1998',
 'July1997',
 'July1995',
 'July1993',
 'July1989',
 'StateName']

In [145]:
newNames=[*oldNames[:2],oldNames[-1],*oldNames[2:-1]]
newNames

['StateFIPScode',
 'CountyFIPScode',
 'StateName',
 'Name',
 'July2013',
 'July2012',
 'July2011',
 'July2010',
 'July2009',
 'July2008',
 'July2007',
 'July2006',
 'July2005',
 'July2004',
 'July2003',
 'July2002',
 'July2001',
 'July2000',
 'July1999',
 'July1998',
 'July1997',
 'July1995',
 'July1993',
 'July1989']

In [146]:
# reordering columns:

snapBenUSCounties=snapBenUSCounties[newNames]
snapBenUSCounties.head()

,StateFIPScode,CountyFIPScode,StateName,Name,July2013,July2012,July2011,July2010,July2009,July2008,...,July2003,July2002,July2001,July2000,July1999,July1998,July1997,July1995,July1993,July1989
1,1,1,AL,Autauga County,8055.0,8079.0,8060.0,7593.0,6907.0,5423.0,...,3594.0,3352.0,3035.0,2814.0,2700.0,2589.0,2771.0,3611.0,4608.0,3739.0
2,1,3,AL,Baldwin County,24402.0,23169.0,22184.0,20604.0,16545.0,10848.0,...,5659.0,4945.0,4129.0,4178.0,4372.0,4850.0,5201.0,6928.0,8053.0,5548.0
3,1,5,AL,Barbour County,6740.0,6843.0,6465.0,6324.0,6340.0,5672.0,...,4981.0,4959.0,4637.0,4415.0,4490.0,4788.0,4947.0,5268.0,5499.0,5056.0
4,1,7,AL,Bibb County,4175.0,4269.0,4336.0,4152.0,3848.0,2967.0,...,2116.0,1953.0,1765.0,1685.0,1631.0,1776.0,1999.0,2085.0,2503.0,2056.0
5,1,9,AL,Blount County,9037.0,9368.0,9425.0,8967.0,7283.0,5695.0,...,3527.0,3066.0,2637.0,2436.0,2593.0,2789.0,2926.0,3373.0,3665.0,2392.0

In [147]:
# JUST SAVING...
snapBenUSCounties.to_csv("snapBenUSCounties.csv",index=None)

### Case: Multiple data sets

In [148]:
corruptLink='https://raw.githubusercontent.com/EvansDataScience/data/master/corruption.csv'
econoLink='https://raw.githubusercontent.com/EvansDataScience/data/master/economic.csv'
enviroLink='https://raw.githubusercontent.com/EvansDataScience/data/master/environment.csv'
pressLink='https://raw.githubusercontent.com/EvansDataScience/data/master/pressfreedom.csv'

* The _corruptlink_ has data about the _Corruption Perception Index_ (CPI) produced by [Transparency International](https://www.transparency.org/).

* The _econoLink_ has data about the _Economic Freedom Index_ (EFI) produced by [Fraser Institute](https://www.fraserinstitute.org).

* The _enviroLink_ has data about the _Environment Performance Index_ (EPI) produced by [Yale University and Columbia University in collaboration with the World Economic Forum](https://epi.envirocenter.yale.edu/).

* The _pressLink_ has data about the _World Press Freedom Index_ (WPFI) produced by [Reporters Without Borders](https://rsf.org/en/world-press-freedom-index).


In this case, I want to join them (not concatenate):

In [149]:
import pandas as pd
corrupt=pd.read_csv(corruptLink,encoding='Latin-1')
econo=pd.read_csv(econoLink,encoding='Latin-1')
enviro=pd.read_csv(enviroLink,encoding='Latin-1')
press=pd.read_csv(pressLink,encoding='Latin-1')

As each data set has a differing amount of rows (countries), and possibly a different way to name each one, the result will be far from perfect:

In [150]:
join1=pd.merge(corrupt,econo)
join2=pd.merge(press,enviro)
indexes=pd.merge(join1,join2)

As always it is good to verify the data types:

In [151]:
indexes.dtypes

Country             object
corruptionIndex      int64
ISO                 object
scoreEconomy       float64
scorepress         float64
presscat            object
environment        float64
environmentCat       int64
dtype: object

And check descriptives:

In [152]:
indexes.describe(include='all')

,Country,corruptionIndex,ISO,scoreEconomy,scorepress,presscat,environment,environmentCat
count,129,129.000000,129,129.000000,129.000000,129,129.000000,129.000000
unique,129,NaN,129,NaN,NaN,3,NaN,NaN
top,Albania,NaN,CHN,NaN,NaN,Medium,NaN,NaN
freq,1,NaN,1,NaN,NaN,71,NaN,NaN
mean,NaN,45.418605,NaN,6.829457,31.097597,NaN,69.393023,0.542636
std,NaN,19.296898,NaN,0.907765,13.125220,NaN,14.732355,0.500121
min,NaN,14.000000,NaN,2.920000,8.590000,NaN,37.100000,0.000000
25%,NaN,31.000000,NaN,6.320000,22.660000,NaN,59.250000,0.000000
50%,NaN,40.000000,NaN,6.920000,29.920000,NaN,70.840000,1.000000
75%,NaN,58.000000,NaN,7.510000,40.430000,NaN,81.260000,1.000000
max,NaN,90.000000,NaN,8.810000,80.960000,NaN,90.680000,1.000000

In [153]:
indexes.head()

,Country,corruptionIndex,ISO,scoreEconomy,scorepress,presscat,environment,environmentCat
0,New Zealand,90,NZL,8.48,10.01,High,88.00,1
1,Denmark,90,DNK,7.77,8.89,High,89.21,1
2,Finland,89,FIN,7.75,8.59,High,90.68,1
3,Sweden,88,SWE,7.65,12.33,High,90.43,1
4,Switzerland,86,CHE,8.44,11.76,High,86.93,1

There is some formatting needed:

Let's order it:

In [154]:
oldCols=indexes.columns.tolist()
oldCols

['Country',
 'corruptionIndex',
 'ISO',
 'scoreEconomy',
 'scorepress',
 'presscat',
 'environment',
 'environmentCat']

When we do not have slices, there is extra work:

In [155]:
numericIndex=[oldCols[i] for i in [1,3,4,6]]
numericIndex

['corruptionIndex', 'scoreEconomy', 'scorepress', 'environment']

In [156]:
newValues=[oldCols[0],oldCols[2],*numericIndex,oldCols[5],oldCols[7]]
newValues

['Country',
 'ISO',
 'corruptionIndex',
 'scoreEconomy',
 'scorepress',
 'environment',
 'presscat',
 'environmentCat']

Then, the new order will be:

In [157]:
indexes=indexes[newValues]
indexes.head()

,Country,ISO,corruptionIndex,scoreEconomy,scorepress,environment,presscat,environmentCat
0,New Zealand,NZL,90,8.48,10.01,88.00,High,1
1,Denmark,DNK,90,7.77,8.89,89.21,High,1
2,Finland,FIN,89,7.75,8.59,90.68,High,1
3,Sweden,SWE,88,7.65,12.33,90.43,High,1
4,Switzerland,CHE,86,8.44,11.76,86.93,High,1

There are several numeric values. Let's see a summary:

In [158]:
indexes.describe()

       corruptionIndex  scoreEconomy  scorepress  environment  environmentCat
count       129.000000    129.000000  129.000000   129.000000      129.000000
mean         45.418605      6.829457   31.097597    69.393023        0.542636
std          19.296898      0.907765   13.125220    14.732355        0.500121
min          14.000000      2.920000    8.590000    37.100000        0.000000
25%          31.000000      6.320000   22.660000    59.250000        0.000000
50%          40.000000      6.920000   29.920000    70.840000        1.000000
75%          58.000000      7.510000   40.430000    81.260000        1.000000
max          90.000000      8.810000   80.960000    90.680000        1.000000

It is important to find some monotony issues in these values:

In [160]:
% matplotlib inline
import matplotlib.pyplot as plt
pd.plotting.scatter_matrix(indexes.iloc[:,2:6])
plt.show()

UsageError: Line magic function `%` not found.

Score press is negatively correlated to the rest. That means that the score for that column needs to be reversed:

In [161]:
# creating reversing function:
def reverse(aColumn):
    return max(aColumn) - aColumn + min(aColumn)

In [162]:
# reversing using function:
indexes.scorepress=reverse(indexes.scorepress)

We should see a different result:

In [163]:
pd.plotting.scatter_matrix(indexes.iloc[:,2:6])
plt.show()

NameError: name 'plt' is not defined

The variable _presscat_ needs to be an ordinal factor.

In [164]:
indexes['presscat'].value_counts()

Medium    71
High      35
Low       23
Name: presscat, dtype: int64

In [165]:
indexes['presscat'].replace({'Medium':2, "High":3, "Low":1},inplace=True)

In [166]:
indexes['presscat'].value_counts(sort=False)

1    23
2    71
3    35
Name: presscat, dtype: int64

The numbers will help R users when they set it as an ordinal. You can convert them to ordinal, but that information will be lost in R.

In [167]:
indexes.head()

,Country,ISO,corruptionIndex,scoreEconomy,scorepress,environment,presscat,environmentCat
0,New Zealand,NZL,90,8.48,79.54,88.00,3,1
1,Denmark,DNK,90,7.77,80.66,89.21,3,1
2,Finland,FIN,89,7.75,80.96,90.68,3,1
3,Sweden,SWE,88,7.65,77.22,90.43,3,1
4,Switzerland,CHE,86,8.44,77.79,86.93,3,1

We are proposing that the categories coded as numbers follow an asceding format, then let's check if _environmentCat_ should be changed:

In [168]:
indexes['environmentCat'].value_counts()

1    70
0    59
Name: environmentCat, dtype: int64

As there is no need for that, just save the file:

In [ ]:
# indexes.to_csv("indexes.csv",index=None)


____

* [Go to page beginning](#beginning)
* [Go to REPO in Github](https://github.com/EvansDataScience/ComputationalThinking_Gov_2)
* [Go to Course schedule](https://evansdatascience.github.io/GovernanceAnalytics/)